<div class = "events">
<br>


<br>

<br>
<table class="table">
    <thead>
        <tr>
          <th>EventType</th>
          <th>Event Lat</th>
          <th>Event Lng</th>
          <th>Event Start</th>
          <th>Event End</th>
        </tr>
      </thead>
    <tbody>
        <tr  *ngFor="let event of events" (click)="onSelect(event)">
          <td>{{event.eventType}}</td>
          <td>{{event.lat}}</td>
          <td>{{event.long}}</td>
          <td>{{event.startAt}}</td>
          <td>{{event.endAt}}</td>
        </tr>
      </tbody>
    </table>
<br>    
</div>