.createEventHeading {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-weight: bold;
    justify-content: center;
    align-items: center;

    
}

.event{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-weight: bold;
    justify-content: center;
    align-items: center;

  
  }