.createEventHeading {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

.event{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-weight: bold;
    justify-content: center;
    align-items: center;

  
  }
  .create-event-button {
    background-color: pink;  display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 30px;
    width: 30px;
    border-radius: 50%;
  }

  .event-table{


  }