<div class = "sign-up-div">
  <div class = "sign-up">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="flex-grid">
      <div class = "email-label col">
      <label for="email">Email :&nbsp;</label>
      </div>
      <div class = "email-input col">
      <input id="email" type="text" formControlName="email">
      </div>
    </div>
    <br>
    <div class="flex-grid">
      <div class = "password-label col">
      <label for="password">Password :&nbsp; </label>
      </div>
      <div class = "password-input col">
      <input id="password" type="password" formControlName="password">
      </div>
    </div>
    <div class="flex-grid">
      <div class = "userRole-selection col">
    <label formArrayName="userRoles" *ngFor="let userRole of userRolesFormArray.controls; let i = index">
      <input type="checkbox" [formControlName]="i">
      {{allUserRoles[i]}}
    </label>
      </div>
  </div>
      <div class = "submit-button">
      <button type="submit" [disabled]="!form.valid">Submit</button>
    </div>
    </form>
  