
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <label for="email">Email: </label>
      <input id="email" type="text" formControlName="email" >
      <div *ngIf="form.get('email').errors?.['required']">Email is required.</div>
      <div *ngIf="form.get('email').errors?.['email']">Not an email.</div>
    
      <label for="password">Password: </label>
      <input id="password" type="password" formControlName="password" >
      <div *ngIf="form.get('password').errors?.['required']">Password required.</div>
      <div *ngIf="form.get('password').errors?.['minlength']">Need more character.</div>

      <label formArrayName="userRoles" *ngFor="let userRole of userRolesFormArray.controls; let i = index">
        <input type="checkbox" [formControlName]="i">
        {{allUserRoles[i]}}
      </label>
      <div *ngIf="form.get('userRoles').errors?.['required']">User Role required</div>

      <button type="submit" [disabled]="!form.valid">Submit</button>
    </form>
  
    <hr>
<!--     
    <p>Form Value: {{ form.value | json }}</p>
    
    <p>Form Status: {{ form.status }}</p>
    
    <p>Form asdads: {{ form.get('password').errors?.['minLength'] }}</p> -->