.border{
max-width: 300px;

border-radius: 50;
border-radius: 16px;
border: 6px solid whitesmoke;
padding-left: 8px;
padding-right: 8px;
display: flex;
justify-content: center;
align-content: center;
flex: 1;
}

.progress-bar {
display: flex;
flex-direction: column;
}

.hours-container {
display: flex;
user-select: none;
}

.testHours {
    font-size: small;
}

.dot-boundary {
position: relative;
display: flex;
flex: 1;
border-radius: 10px;
overflow: visible;
max-width: 350px;
}

.dot{
position: absolute;
display: flex;
top: -5px;
width: 30px;
height: 30px;
background-color: green;
border-radius: 50%;
}

.dot:active {
cursor: grabbing;
}
/* 
@media (min-width: 1200px) {
   
}

@media (min-width: 800px) and (max-width: 1199px) {
    .border{
        border: 6px solid whitesmoke;
        font-size: x-large;
        }
        
        .progress-bar {

        }
        
        .hours-container {

        }
        
        .testHours {
        }
        
        .dot-boundary {

        }
        
        .dot{
        top: -10px;
        width: 45px;
        height: 45px;
        }
        
        .dot-:active {
        }
        

}

@media (max-width: 799px) {

} */