<br>
<div class = "border">
    <div class="progress-bar" #clockhourSelect>
        <div class="hours-container">
            <div *ngFor="let hour of hours" class="testHours">
                <div class="hourAM-container" id="progress-bar" #hourDiv>
                {{ hour }}
                </div>
            </div>
        </div>
        <div class="dot-boundary" #progressBarDiv>
            <div
              class="dot"
              (mousedown)="mouseDown($event)"
              (mouseup)="mouseUp($event)"
              (mousemove)="mousemove($event)"
              (mouseleave)="mouseUp($event)"
              #dot>
            </div>
          </div>
    </div>
</div>
