
.progress-bar {
display: flex;
flex-direction: column;
}

.hours-container {
display: flex;
user-select: none;
}

.testHours {
    font-size: 11px;
}

.dot-boundary {
position: relative;
justify-content: center;
display: flex;
flex: 1;
border-radius: 10px;
/* overflow: visible; */
max-width: 300px;
  /* background-color: rgba(255, 0, 0, 0.1); 
  outline: 1px solid red; */
  border: 6px solid whitesmoke;

}

.dot{
  overflow: hidden;
position: absolute;
display: flex;
top: -5px;
width: 30px;
height: 30px;
background-color: green;
border-radius: 50%;
  outline: 1px solid greenyellow;
  background-color: rgba(0, 128, 0, 0.6);
  cursor: grab;
}

.dot:active {
cursor: grabbing;
}
