
<div class="event-modal" *ngIf="isOpen" (click)="onBackdropClick($event)">
  <div #modalContent class="modal">
    <!-- <div class="item-1">
      <div class="mapContainer">
        <app-map class="map"></app-map>  
      </div>
    </div> -->
    <br>
      <div class="item-2">
        <div class = "item-2-container">
        <div class="grid-item" id="item-1">
        <img src="/assets/userprofile.jpg" class = "user-img" alt="image" >
        </div>
        <div class="grid-item" id="item-2">
          <b>USER Name</b>
        </div>
        <div class="grid-item" id="item-3">
        <!-- {{event.title}} -->X
        </div>
        <div class="grid-item" id="item-4">
          <br>
 <div class="flex-grid">
        <div class="event-start-date-text-container col">
          <div class="event-start-date-text">
            Start
            <br>
            Date :
          </div>
        </div>
        <div class="event-start-date-container col">
          <div class="event-start-date">
            <!-- {{event.startAt * 1000 | date: 'MMM d, y'}} -->X
          </div>
        </div>
        <div class="event-start-time-text-container col">
          <div class="event-start-time-text">
            Start
            <br>
            Time :
          </div>
        </div>
        <div class="event-start-time-container col">
          <div class="event-start-time">
            <!-- {{event.startAt * 1000 | date: 'shortTime'}} -->X
          </div>
        </div>
      </div>
      <div class="flex-grid">
        <div class="event-finish-date-text-container col">
          <div class="event-finish-date-text">
            Finish
            <br>
            Date :
          </div>
        </div>
        <div class="event-finish-date-container col">
          <div class="event-finish-date">
            <!-- {{event.endAt * 1000 | date: 'MMM d, y'}} -->X
          </div>
        </div>
        <div class="event-finish-time-text-container col">
          <div class="event-finish-time-text">
            Finish
            <br>
            Time :
          </div>
        </div>
        <div class="event-finish-time-container col">
          <div class="event-finish-time">
            <!-- {{event.endAt * 1000 | date: 'shortTime'}} -->X
          </div>
        </div>
      </div>

        </div>
</div>
</div>
</div>


          <!-- <div class="item-2-profile">
          <p class="profile">
           <img src="/assets/userprofile.jpg" class = "user-profile-img" alt="image" >
          <a>img</a>
           </p>
         </div>
        <div class="item-2-name">
          <p class="type"><b>UserName:</b>
          </p>
        </div>
        <div class="item-2-type">
          <p class="type">{{ event.eventType }}</p>
        </div>
        <div class="item-2-title">
          <p class="title">{{ event.title }}</p>
        </div>
        <div class="item-2-start-time-text">
        <p class="start-time-text">Start Date:</p>
        </div>
        <div class="item-2-start-time">
        <p class="start-time"><b>{{event.startAt * 1000 | date: 'MMM d, y'}}</b></p>
        </div>
        <div class="item-2-start-date-text">
        <p class="start-date-text">Start Time:</p>
        </div>
        <div class="item-2-start-date">
        <p class="start-date"><b>{{event.startAt * 1000 | date: 'shortTime'}}</b></p>
        </div>
        <div class="item-2-finish-time-text">
          <p class="finish-time-text">Finish Date:</p>
        </div>
       <div class="item-2-finish-time">
          <p class="finish-time"><b>{{event.endAt * 1000 | date: 'shortTime'}}</b> </p>
        </div>

        <div class="item-2-finish-date-text">
        <p class="finish-date-text">Finish Time:</p>
        </div>
        <div class="item-2-finish-date">
        <p class="finish-date"><b>{{event.endAt * 1000 | date: 'MMM d, y'}}</b></p>
        </div> -->


    <!-- <button class="close-btn" (click)="onClose()">×</button> -->
             <!-- <div class="item-2-lat">
          <p class="lat">Lat: {{ event.lat }}</p>
        </div>

        <div class="item-2-lng">
          <p class="lng">Lng: {{ event.long }}</p>
        </div> -->
        <!-- <div class="item-2-created">
          <p class="created">Created at: {{ event.createdAt }}</p>
        </div>

        <div class="item-2-updated">
          <p class="updated">Updated at: {{ event.updatedAt }}</p> 
        </div> -->

        <!-- <div class="item-2-id">
          <p class="id">ID: {{ event.id }}</p>
        </div> -->