.flex-grid {
  display: flex;
  width: 100%;
}

.col {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 25%;
  flex-basis: 75%;
}
.column,
.columnTop {
  display: flex;
  flex-direction: column;
  flex-basis: 25%;
  flex: 1;
}

.busker-list-container {
  overflow-y: auto;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.busker-list-container::-webkit-scrollbar {
  display: none;
}

.busker-list {
}

.busker-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 8px;
}

.busker-item {
  flex: 1 1 calc(25% - 32px);
  max-width: 200px;
  max-height: 200px;
  box-sizing: border-box;
  border: 6px solid whitesmoke;
  border-radius: 16px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1 / 1;
}