<div class="busker-list-container">
  <div class="busker-list">
    <div class="busker-grid">
      <div class="busker-item"
        *ngFor="let busker of buskers; let i = index"
        [class.selected]="busker === selectedBusker"
        (click)="onSelect(busker)">
        <img  class="busker-img" alt="Busker" />
        
        <!-- <img [src]="busker.profileImageUrl || '/assets/userprofile.jpg'" class="busker-img" alt="Busker" /> -->

        <div class="busker-name-overlay">
          {{ busker.displayName || busker.email }}
        </div>
      </div>
    </div>
  </div>
</div>
