
.flex-grid {
  display: flex;
  width: 100%;
  background-color: none;
  margin-bottom: 10px;
  }
  
  .col {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
  .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 50;
  width: 25%;
  flex-basis: 75%;
  }
  
  .column {
  display: flex;
  flex-direction: column;
  flex-basis: 25%;
  flex: 1;
  }
  
  .columnTop {
  display: flex;
  flex-direction: column;
  flex-basis: 25%;
  flex: 1;
  }

.close-btn {
}

.event-modal {
position: fixed;
inset: 0; 
display: flex;
justify-content: center;
  align-items: center;
flex-direction: column;
background: rgba(0,0,0,0.5);
}

.modal{
  display: flex;
  flex-direction: column;
  gap: 32px; 
  background: transparent;
  max-width: 400px;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow-y: auto;        /* This enables scroll on the whole modal */
  padding: 20px 0;
  scroll-behavior: auto !important;
}

.item-1 {
min-width: 300px;
min-height: 300px;
border: 6px solid whitesmoke;
border-radius: 25px;
}

.map {
width: 100%;
height: 100%;
z-index: 9;
}

.mapContainer {
width: 100%;
min-width: 300px;
min-height: 300px;
height: 100vh;
max-width: 300px;
max-height: 300px;
background-color: beige;
}


.item-2 {
min-width: 300px;
max-width: 300px;
background-color: white;
border: 6px solid whitesmoke;
border-radius: 25px;
display: flex;
}

.item-2-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-template-rows: auto auto auto;
  gap: 10px;
  min-height: 350px;
}

.grid-item {
  grid-column: 1;
  text-align: center;
}

#item-1{
  grid-row: 1 / span 2;
  grid-column: 1;
  width: 100%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;

}

.user-img{
  width: 125px;
  height: 125px;
  border-radius: 30% 10% 30% 10%;
  overflow: hidden;
  border: 6px solid whitesmoke;

}

#item-2{
  grid-row: 1;
  grid-column: 2;
  width: 100%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}


#item-3{
  grid-row: 2;
  grid-column: 2;
  width: 100%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
#item-4{
  grid-row: 3;
  grid-column: 1 / span 2; 
  width: 100%;
  padding: 0;
}

  .event-user-name-container {
  background-color: none;
  padding-right: 16px;
  }
  
  .event-user-name {
  background-color: none;
  font-weight: bold;
  }

  .event-user-name-input{

  }

  .event-user-name-input{
  }
  
  .event-type-container {
  background-color: none;
  }
  
  .event-type {
  background-color: none;
  }
  
  .event-title-container {
  background-color: none;
  padding-right: 16px;
  }
  
  .event-title {
  background-color: none;
  }

  .event-title-input{
  }

  .event-address-container {
  background-color: none;
  justify-content: left;
  }
  
  .event-address {
  background-color: none;
  padding-left: 10px;
  }
  
  .event-start-date-container {
  background-color: none;
  }
  
  .event-start-date {
  font-weight: bold;
  background-color: none;
  }
  
  .event-start-time-container {
  background-color: none;
  }
  
  .event-start-time {
  background-color: none;
  font-weight: bold;
  }
  
  .event-finish-date-container {
  background-color: none;
  }
  
  .event-finish-date {
  background-color: none;
  font-weight: bold;
  }

  .event-finish-time-container {
  background-color: none;
  padding-top: 16px;
  }

  .event-finish-time {
  background-color: none;
  font-weight: bold;
  }

.progress-bar-container-start{
  display: flex;
  justify-content: center;
  width: 100%; 
  margin: 0 auto;
  padding-top: 16px;
}

.calendar-container-start{
  display: flex;
  justify-content: center;
  width: 100%; 
  margin: 0 auto;
  padding-top: 16px;
}

.calendar-start{
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%; 
  margin: 0 auto;
}

.progress-bar-container-end{
  display: flex;
  justify-content: center;
  width: 100%; 
  margin: 0 auto;
  padding-top: 16px;

}

.calendar-container-end{
  display: flex;
  justify-content: center;
  width: 100%; 
  margin: 0 auto;
  padding-top: 16px;
}

.calendar-end{
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%; 
  margin: 0 auto;
}
.calendar-start-scroll,
.calendar-end-scroll {
  max-width: 300px;
  height: 230px;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  border: 6px solid whitesmoke;
  border-radius: 16px;
  -ms-overflow-style: none;
  scrollbar-width: none;

  /* PREVENT SCROLL BUBBLE */
  overscroll-behavior: contain;
}

.calendar-start-scroll::-webkit-scrollbar,
.calendar-end-scroll::-webkit-scrollbar {
  display: none;
}
.control-container{
  padding-top: 16px;
}

.hidden {
  display: none;
}

/* SM - Small tablets */
 @media (min-width: 576px) {

 }

  /* MD - Tablets */
  @media (min-width: 768px) {
.item-1 {
min-width: 350px;
min-height: 350px;
}
.mapContainer {
max-width: 350px;
/* max-height: 400px; */

}
.item-2 {
max-width: 350px;
/* min-height: 400px; */
}

  } 
  
  /* LG - Small laptops */
  @media (min-width: 992px) {
.item-1 {
min-width: 350px;
min-height: 350px;
}
.mapContainer {
max-width: 350px;
/* max-height: 400px; */

}
.item-2 {
max-width: 350px;
/* min-height: 400px; */
}
}
  
  /* XL - Desktops */
  @media (min-width: 1200px) {
.item-1 {
min-width: 350px;
min-height: 350px;
}
.mapContainer {
max-width:350px;
max-height: 350px;

}
.item-2 {
max-width: 350px;
/* min-height: 400px; */
}

  } 
  
  /* XXL - Large screens / 4K */
  @media (min-width: 1400px) {
.item-1 {
min-width: 350px;
min-height: 350px;
}
.mapContainer {
max-width:350px;
max-height: 350px;

}
.item-2 {
max-width: 350px;
min-width: 350px;
/* min-height: 400px; */
}

} 
  
