<div class="event-modal" *ngIf="isOpen" (click)="onBackdropClick($event)">
  <div #modalContent class="modal">
    <div class="item-1">
      <div class="mapContainer">
        <app-map
          class="map"
          (mapInput)="onMapReady($event)"
          (mapCenterChanged)="onMapMoved($event)"
          (mapClicked)="onMapClicked($event)"
        >
        </app-map>
      </div>
    </div>
    <br />
    <div class="item-2">
      <div class="item-2-container">
        <div class="grid-item" id="item-1">
          <div class="event-image-container">
              <div class="event-image">
            <img src="/assets/userprofile.jpg" class="user-img" alt="image"/></div>
        </div>
        </div>
     <div class="grid-item" id="item-2">
          <div class="event-user-name-container">
            <div *ngIf="!isEditing" class="event-user-name"><b>USER Name</b></div>
             <input *ngIf="isEditing" class="event-user-name-input" type="text"   [placeholder]="event.userName"><br><br>
          </div>
        </div>
        <div class="grid-item" id="item-3">
          <div class="event-title-container">
            <div *ngIf="!isEditing" class="event-title">{{ event.title }}</div>
              <input *ngIf="isEditing" class="event-title-input" type="text" [placeholder]="event.title">
        </div>
        </div>
        <div class="grid-item" id="item-4">
          <br />
          <div class="flex-grid">
 
            <div class="event-start-date-container col">
              <div (click) = "toggleStartDateControls()" class="event-start-date">
                {{ event.startAt * 1000 | date: 'MMM d, y' }}
              </div>
            </div>
            <div class="event-start-time-container col">
              <div (click) = "toggleStartDateControls()" class="event-start-time">
                {{ event.startAt * 1000 | date: 'shortTime' }}
              </div>
            </div>
          </div>

<!-- <div class = "progress-bar-container-start"> 
<app-progress-bar *ngIf="isEditing" class = "progress-bar-start"
[selectedTime]="globalDate"
(selectTimeEvent)="onTimeSelected($event)">
</app-progress-bar>
</div>

<div class = "calendar-container"> 
<app-calendar *ngIf="isEditing"  class = "calendar"   [selectedDate]="globalDate" (selectDateEvent)="onDateSelected($event)"></app-calendar>
<br>
<br>
</div> -->


          <div class="flex-grid">
          <div class="event-finish-date-container col">
              <div (click) = "toggleFinishDateControls()" class="event-finish-date">
                {{ event.endAt * 1000 | date: 'MMM d, y' }}
              </div>
            </div>
            <div class="event-finish-time-container col">
              <div (click) = "toggleFinishDateControls()" class="event-finish-time">
                {{ event.endAt * 1000 | date: 'shortTime' }}
              </div>
            </div>
          </div>
          <div class="control-container" *ngIf="canEdit">
            <div class="control" (click)="onEditClick()">
              EDIT
              <!-- <a>{{canEdit}}</a> -->
              <a *ngIf="isEditing">Is Editing</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
