
    <div class="event-modal" *ngIf="isOpen" (click)="onBackdropClick($event)">
  <div #modalContent>
    <div class="item-1">
      <div class="mapContainer">
        <app-map class="map"></app-map>  
      </div>
    </div>
    <br>
      <div class="item-2">
          <div class="item-2-profile">
          <p class="profile">Title: {{ event.title }}</p>
         </div>

        <div class="item-2-title">
          <p class="title">Title: {{ event.title }}</p>
        </div>

        <div class="item-2-type">
          <p class="type">Type: {{ event.eventType }}</p>
        </div>

        <div class="item-2-lat">
          <p class="lat">Lat: {{ event.lat }}</p>
        </div>

        <div class="item-2-lng">
          <p class="lng">Lng: {{ event.long }}</p>
        </div>

        <div class="item-2-start">
          <p class="start">Start at: {{ event.startAt }}</p>
        </div>

        <div class="item-2-end">
          <p class="end">Finish at: {{ event.endAt }}</p> 
        </div>

        <div class="item-2-created">
          <p class="created">Created at: {{ event.createdAt }}</p>
        </div>

        <div class="item-2-updated">
          <p class="updated">Updated at: {{ event.updatedAt }}</p> 
        </div>

        <div class="item-2-id">
          <p class="id">ID: {{ event.id }}</p>
        </div>
      </div>
    </div>
    <!-- <button class="close-btn" (click)="onClose()">×</button> -->