<div class = "calender" (click)="onPress()">
{{ inputDate }}
</div>
<!-- <div class = "calender-container" [ngClass]="showDialog ? '' : 'hidden'"></div> -->

Current time: {{ currentTime }}

{{ calenderTime }}
<div class="calender-div hidden">
  <div class="calender-controls">
    {{year}}
    <div (click)="previousMonth()"><a><</a></div>
    {{month}}
    <div (click)="nextMonth()"><a>></a></div>
    {{day}}
  </div>

  <div class="calender-container">
    <div class="week-day-header" *ngFor="let weekDay of weekDays">
      <div class="week-day-container">{{weekDay}}</div>
    </div>

    <div *ngFor="let day of monthDays" (click)="daySelect(day)">
      <div class="day-container">
        {{ day }}
      </div>
    </div>
  </div>
  <br>

</div>
<div>
  <div><app-progress-bar></app-progress-bar></div>
</div>