.calender{ 
    display: flex;
    background-color: darkgreen;
    z-index: 10;
    /* position: absolute; */
    
    justify-content: center;
    align-items: center;
    max-width: 400px;
}

.hidden {
    display: none;
  }


.calender-div {
  background-color: white;
  max-width: 200px;
  min-width: 200px;
  flex-wrap: wrap;
  /* justify-content: center; */
  justify-content: space-evenly;
}

.calender-controls {
  display: flex;
  background-color: white;
  max-width: 200px;
  min-width: 200px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
 

.calender-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* Create 7 equal-width columns */
  grid-gap: 2.5px; /* Add some space between grid items */
  justify-content: center;
  align-items: center;
  border: 40px;

}

.day-container {
  background-color:white;
  display: flex;
  justify-content: center;
  align-items: center;
}