.log-in{
    display: flex;
    background-color:white;
    z-index: 10;
    font-size: medium;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    border: 6px solid whitesmoke;
    max-width: 1260px;
    min-width: 450px;
    min-height: 150px;

}

.a{ 
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }