<br>
<br>
<div class = "log-in" >
    <form [formGroup]="loginRequest" (ngSubmit)="onSubmit()">
    <div class="form-item">
        <label for="email">Email</label>
        <input id="email" type="text" formControlName="email">
    <br>
        <label for="password">Password</label>
        <input id="password" type="text" formControlName="password">

  </div>
<br>
    <button type="submit">Log In</button>
</form> 
</div>

<div>

    <button  (click)="whoAmI()">Who Am I</button>
</div>
<br>
<br>