<div class = "calendar-component-container">
  <div class="calendar-div">
    <div class="calendar-container">
    <div *ngFor="let calendarPage of calendarMonths; let monthIndex = index" (click)="monthSelect(calendarPage)">
      <div class="month-container">
        <p class = "month-display">
          {{ calendarPage.toLocaleString('default', { month: 'long', year: 'numeric' }) }}
        </p>
      </div>
      <div class = "weekday-display-container">
        <p class = "weekdays-display" *ngFor="let day of weekDays[monthIndex]; let monthIndex = index" >
          {{day}}
        </p>
      </div>
      <div class = "day-container" >
        <a class="day" *ngFor="let day of [].constructor(calendarMonthDaysArr[monthIndex]) let dayIndex = index"
        [ngClass]="{
          'selected': isSelected(calendarPage.getFullYear(), calendarPage.getMonth(), dayIndex + 1),
          'key-date': isKeyDate(calendarPage.getFullYear(), calendarPage.getMonth(), dayIndex + 1)
        }"
        (click)="daySelect(calendarPage.getFullYear(), calendarPage.getMonth(), dayIndex + 1)">
        {{ dayIndex + 1 }}
        </a>
      </div>
      </div>
  </div>
</div>
</div>