<br>
<div class="calenderContainer" >
  <div class="calender-div">
    <div class="calender-controls">
      <b>{{ year }}</b>
      <b>{{ month }}</b>
    </div>
    <div class="calender-container">
      <div class="week-day-header" *ngFor="let weekDay of weekDays">
        <div class="week-day-container">{{ weekDay }}</div>
      </div>

      <a class="day-container" *ngFor="let day of monthDays"
         [class.selected]="day === selectedDay"
         (click)="daySelect(day)">
        {{ day }}
      </a>
    </div>
  </div>
  <div class = "calenderControl">
    <div class = "previousMonth col" (click)="previousMonth()" ></div>
    <div class = "nextMonth col" (click)="nextMonth()" ></div>
  </div>
  <br>
  {{currentDateTimeYear}}