.calendar-component-container{
  
  max-width: 365px;
  border-radius: 50;
  border-radius: 16px;
  -ms-overflow-style: none;
  scrollbar-width: none; 
  height: 230px;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  position: relative;
  border: 4px solid whitesmoke;
  
}
.calendar-component-container::-webkit-scrollbar {
  display: none;
}

.calendar-container{
  margin-top: -16px; 
  padding-right: 16px;
  padding-left: 16px;
}

.calendar-div{
  border-radius: 25px;
  min-width: 340px;
  min-height: 320px;
}

.month-container{
  text-align: center;
  margin-top: 0px; 
}

.month-display{
  font-size: 20px;
  font-weight: bold;

}

.weekday-display-container{

  display: flex;
  justify-content: space-around;
  height: 40px;
  align-items: flex-start;
  margin-top: -16px; 
  margin-bottom: -16px;
  font-size: medium;
}

.weekdays-display{
  margin-top: 4px; 
}

.day-container{
  padding-top: 10px;
  padding-bottom: 10px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 2.5px;
  justify-content: center;
  align-items: center;
}

.day{
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolderer;
  font-size: large;
  height: 30px;
  width: 30px;
}

.selected {
  background-color: hotpink;
  color: white;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.start-date {
  background-color: orange;
  color: white;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.end-date {
  background-color: blue;
  color: white;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.key-date{
  background-color: green;
  color: white;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.start-circle {
  background-color: green;
}
.end-circle {
  background-color: red;
}

  /* Responsive Layouts */
  @media (min-width: 1200px) {
   
  }
  
  @media (min-width: 800px) and (max-width: 1199px) {
    .calendar-component-container{
      height: 520px;
      border: 8px solid whitesmoke;
    }
    .calendar-container{
      margin-top: -32px; 
      padding-right: 16px;
      padding-left: 16px;
    }
    .calendar-div{
      border-radius: 25px;
      min-width: 340px;
      min-height: 320px;
    }
    .month-container{
      text-align: center;
      margin-top: 0px; 
    }
    .month-display{
      font-size: 36px;
    }
    .weekday-display-container{
      margin-top: -32px; 
      font-size: x-large;
    }
    .weekdays-display{
      margin-top: 4px; 
    }
    .day-container{
    }
    .day{
      /* font-weight: bold; */
      font-size: 40px;
      height: 80px;
      width: 80px;
    }
  }
  
  @media (max-width: 799px) {
    .calendar-component-container{
      height: 520px;
      border: 8px solid whitesmoke;
    }
    .calendar-container{
      margin-top: -32px; 
      padding-right: 16px;
      padding-left: 16px;
    }
    .calendar-div{
      border-radius: 25px;
      min-width: 340px;
      min-height: 320px;
    }
    .month-container{
      text-align: center;
      margin-top: 0px; 
    }
    .month-display{
      font-size: 40px;
    }
    .weekday-display-container{
      margin-top: -32px; 
      font-size: x-large;
    }
    .weekdays-display{
      margin-top: 4px; 
    }
    .day-container{
 
    }
    .day{
      font-weight: bold;
      font-size: 40px;
      height: 80px;
      width: 80px;
    }
  }