.calendar-component-container{
  border-radius: 50;
  border-radius: 16px;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  height: 23vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  position: relative;
}
.calendar-component-container::-webkit-scrollbar {
  display: none;
}

.calendar-container{
  padding-right: 16px;
  padding-left: 16px;
  
}

.calendar-div{
  border-radius: 25px;
  border: 6px solid whitesmoke;
  /* max-width: 340px; */
  min-width: 340px;
  min-height: 320px;
  
}

.month-container{
  text-align: center;
  margin-top: 0px; 

}

.month-display{
  font-size: 40px;

}

.weekday-display-container{
  display: flex;
  justify-content: space-around;
  height: 40px;
  align-items: flex-start;
  margin-top: -16px; 
  margin-bottom: -16px;
  font-size: large;
}

.weekdays-display{
  margin-top: 4px; 
}

.day-container{
  padding-top: 10px;
  padding-bottom: 10px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 2.5px;
  justify-content: center;
  align-items: center;

}

.day{
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolderer;
  font-size: xx-large;
  height: 60px;
  width: 60px;
}


.selected {
  background-color: hotpink;
  color: white;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.start-date {
  background-color: orange; /* Example for start date */
  color: white;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.end-date {
  background-color: blue; /* Example for end date */
  color: white;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.key-date{
  background-color: green; /* Example for end date */
  color: white;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;


}
.draggable {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: blue;
  cursor: grab;
  z-index: 10;
}
.draggable:active {
  cursor: grabbing;
}
.start-circle {
  background-color: green;
}
.end-circle {
  background-color: red;
}
