
.calendar-container{
  /* background-color: bisque; */
  padding: 32px;
  display: flex;
  justify-content:center;
  font-weight: bolder;
  font-size: xx-large;

}

.calendar-div{
/* background-color: aquamarine;   */

}
.month-container{
  /* background-color: darksalmon; */
  /* align-content: center; */
  text-align: center;

}

.p.month-display{
  background-color: gold;



}
.day-container{
/* background-color: chartreuse; */
  /* padding-top: 10px; */
  /* padding-bottom: 10px; */
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 2.5px;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  font-size: xx-large;




}