.home-blanc{
    background-color: whitesmoke;
}



  .main-header{
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    align-items: center
  }
  .hidden {
    display: none;
  }
