
<div class = "main-header" >
    <app-main-header ></app-main-header>
    <div id="calender" class="calender" [hidden]="!calendarVisible">
        <app-calender (selectDateEvent)="selectDateEventProcess($event)"></app-calender>
    </div>
</div>


<!-- <button (click)="toggleMapVisibility()">Toggle Map</button> -->
<div class = "home-blanc">
    <app-google-map class = "google-map hidden" (click)="toggleMapVisibility()" [selectedDate]="selectedDate" ></app-google-map>
</div>

<app-home></app-home>