<div class = "home">
    <div class = "calenderHeading">
        <a (click) = "openCalender()">Calender</a>
        <app-calender *ngIf="calenderEventVisible"></app-calender>
    </div>
    <div class = "googleMapHeading">
        <a (click) = "openGoogleMap()">Google Map</a>
        <app-google-map *ngIf="googleMapEventVisible"></app-google-map>
    </div>
    <div class = "eventsHeading">
        <a (click) = "openEvents()">Events</a>
        <app-events *ngIf="eventsEventVisible"></app-events>
    </div>
</div>
