<div class = "home">
    <br>
    <div class = "calenderHeading">
        <a (click) = "openCalender()">Calender</a>
        <app-calender *ngIf="calenderEventVisible"></app-calender>
    </div>

    <div class = "googleMapHeading">
        <a (click) = "openGoogleMap()">Google Map</a>
        <app-google-map *ngIf="googleMapEventVisible"></app-google-map>
    </div>
    <div class = "createEventHeading">
        <a (click) = "openCreateEvent()">Create Event</a>
        <app-event *ngIf="createEventEventVisible"></app-event>
    </div>
    <div class = "eventsHeading">
        <a (click) = "openEvents()">Event</a>
        <app-events *ngIf="eventsEventVisible"></app-events>
    </div>
    <div class = "eventTableHeading">
        <a (click) = "openEventTable()">Events Table</a>
        <app-event-table *ngIf="eventTableVisible"></app-event-table>
    </div>
</div>

