<div class = "ui">
<div class = "content"> 
<div class="user">
<div class="container">
    <div class="item item-1">
      <app-user-profile  class = "user-profile"></app-user-profile>
    </div>
    <div class="item item-2">
<app-map  class = "map"
  (mapInput)="onMapReady($event)"
  (mapCenterChanged)="onMapMoved($event)"
  (mapClicked)="onMapClicked($event)">
</app-map>  
    </div>
    <div class="item item-3">
         <app-buskers-mini-display class = "buskers-mini" (selectedBusker)="onBuskerSelect($event)" [buskers]="buskers"></app-buskers-mini-display>
    </div>
    <div class="item item-4">
      <app-common-events class = "events" [events]="events" (selectedEvent)="onEventSelect($event)"></app-common-events>
    </div>
</div>
</div>
</div>
</div>
<app-event-modal  *ngIf="showEventModal" class = "modal" [isOpen]="showEventModal" (close)="showEventModal = false " [event]="event">
</app-event-modal>
<app-busker-modal *ngIf = "showModal" class = "modal" [isOpen]="showBuskerModal" (close)="showBuskerModal = false " [busker]="busker">
</app-busker-modal>
<div class = "control-container">
  <div class = "control">
  </div>
</div>
