<div class = "ui">
<div class = "content"> 
<div class="user">
<div class="container">
    <div class="item item-1">
      <app-user-profile  class = "user-profile"></app-user-profile>
    </div>
    <div class="item item-2">
<app-map  class = "map"
  (mapInput)="onMapReady($event)"
  (mapCenterChanged)="onMapMoved($event)"
  (mapClicked)="onMapClicked($event)">
</app-map>  
    </div>
    <div class="item item-3">
         <app-buskers-mini-display class = "buskers-mini" (selectedBusker)="onBuskerSelect($event)" [buskers]="buskers"></app-buskers-mini-display>
    </div>
    <div class="item item-4">
      <app-common-events class = "events" [events]="events" (selectedEvent)="onEventSelect($event)"></app-common-events>
    </div>
</div>
</div>
</div>
</div>
<app-event-modal class = "modal" [isOpen]="showEventModal" (close)="showEventModal = false " [event]="event">
</app-event-modal>
<app-busker-modal class = "modal" [isOpen]="showBuskerModal" (close)="showBuskerModal = false " [busker]="busker">
</app-busker-modal>
<div class = "control-container">
  <div class = "control">

  </div>
</div>




































<!-- MOBILE FRIENDLY ABOVE -->








<!-- 
<div class="user-container">
        <div class = "user-display col">
        <h2 class = "title-text" >User</h2>
        </div>
(ngSubmit)="onSubmit()"
        <div class = "user-ui">

        <div class="flex-grid">

                <div class="user-profile-image-container col">
                <div class="user-profile-image">
              <a>USER Image</a> -->
                <!-- </div>
                </div>

                <div class="user-name-container col">
                <div class="user-name">
                <a>{{currentUser.id}}</a>
                </div>
                <div class="user-email">
                        <a>{{currentUser.email}}</a>
                </div>
                </div>
                <div class="user-role-container col">
                        <div class="user-role">
                        <a>{{currentUser.roles}}</a>
                </div>
                </div>

        </div>

                <br>

         <div class="flex-grid">

                <div class="event-user-name-container col">
                <div class="event-user-name">
                <a>{{currentUser.email}}</a>
                </div>
                </div>
                <div class="flex-grid">
                <div class="event-user-name-container col">
                <div class="event-user-name">
                <a>{{currentUser.roles}}</a>
                 </div>

        </div>

        </div>
</div> --> 






<!-- <div class="flex-grid">

        <div class = "start-date-display col">
          <a class = "detail-text" >Start <br>Date :</a>
        </div>
        <div class = "start-date col">
          <a class = "subject-text">{{startDateAndTime  | date:'mediumDate' }}</a>
        </div>
        <div class = "start-time-display col">
          <a class = "detail-text" >Start <br>Time   :</a>
        </div>
        <div class = "start-time col">
          <a class = "subject-text">{{ startDateAndTime | date:'shortTime' }}</a>
        </div>
        <div *ngIf= "editDialog" class = "start-select col">
          <button *ngIf= "editDialog" class = "hardcodedButton" (click) = "startTimeSelectToggle()">Start Time & Date</button>
        </div>
      </div> -->