<div class="user-container">
    <div class="user-ui">
        <div class="flex-grid">
            <div class="user-profile-image-container col">
                <div class="profile-image">
                    <!-- <a>USER Image</a> -->
                </div>
            </div>
            <div class="user-name-container col">
                <div class="user-name">
                    <a>USER Name</a>
                </div>
                <div class="user-role">
                    <a>USER role</a>
                </div>
                <div class="user-location">
                    <a>USER Location</a>
                </div>
            </div>
            
        </div>
        <div class="flex-grid">
            <div class="user-description-container col">
                <div class="user-description">
                    <a>USER description</a>
                </div>
            </div>
        </div>


        <div class="flex-grid">
            <div class="user-social-media-container col">
                <div class="user-social-media">
                    <a>USER Social Media</a>
                </div>
            </div>
        </div>
        <div class="flex-grid">
            <div class="user-create-event-container col">
                <div class="user-create-event">
                    <a>USER Create Event</a>
                </div>
            </div>
            <div class="user-edit-event-container col">
                <div class="user-edit-event">
                    <a>USER Edit Event</a>
                </div>
            </div>
        </div>
        <div class="flex-grid">
            <div class="user-event-table-text-container col">
                <div class="user-event-table-text">
                    <a>USER Event TableText</a>
                </div>
            </div>
        </div>
        <div class="flex-grid">
            <div class="user-event-table-container col">
                <div class="user-event-table">
                    <a>USER Event Table</a>
<div class = "event-table col">
    <app-event-table></app-event-table>
</div>
                </div>
            </div>
        </div>
    </div>
</div>
