/* .flex-grid {
    display: flex;
    background-color: none;
}
  
  .col {
    flex: 1;
    display: flex; 
} */

.user-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
  }
  