.hidden {
    display: none;
  }
  
  /* Container */
  .home-control {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 8px;
    /* background-color: purple; */

  }
  
  /* First Row */
  .control-row-one {
    display: flex;
    flex-wrap: wrap;
  }
  
  .home-control-address {
    display: flex;
    justify-content: flex-start;
    text-align: left;
    width: 50%;
  }
  
  .address {
    font-weight: bolder;
  }
  
  .home-control-global-date {
    display: flex;
    justify-content: flex-end;
    font-weight: bolder;
    width: 50%;
    /* background-color: aquamarine; */
  }
  
  .home-control-genre {
    padding-top: 16px;
    width: 100%;
    margin-left: auto;
    /* background-color: blue; */
  }
  
  .genre {
    display: flex;
    justify-content: space-around;
    /* max-width: 800px; */
    /* margin-top: -6px; */
  }
  
  .genre-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
  }
  
  /* Second Row */
  .control-row-two {
    display: flex;
    flex-wrap: wrap;
    padding-top: 8px;
  }
  
  .home-control-search {
    /* background-color: yellow; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .search {
    white-space: nowrap;
    font-weight: bolder;
  }
  
  .search input[type="text"] {
    box-sizing: border-box;
    font-size: 1rem;
  
  }
  
  .home-control-distance {

    display: flex;
    width: 33%;
    /* background-color: hotpink; */
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    padding-top: 8px;
    padding-bottom: 8px;

  }
  .distance{
    /* background-color: chocolate; */
    width: auto;

  }
  
  .home-control-within {
    display: flex;
    width: 33%;
    /* background-color: lawngreen; */
    justify-content: center;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
    
  }

  .within{

  }
  
  .home-control-sort {
    display: flex;
    width: 33%;
    /* background-color: darkblue; */
    padding-top: 8px;
    padding-bottom: 8px;
  }
  
  .sort{

  }

  .calendar-container {
    display: flex;
    justify-content: center;
  }
  
  .calendar {
    font-size: x-small;
  }

  .all-button,
  .band-button,
  .busker-button,
  .dj-button,
  .performance-button {
    height: 30px;
    width: 30px;
    border-radius: 50%;
  }
  
  .all-button {
    background-color: deepskyblue;
  }
  
  .band-button {
    background-color: hotpink;
  }
  
  .busker-button {
    background-color: red;
  }
  
  .dj-button {
    background-color: yellow;
  }
  
  .performance-button {
    background-color: green;
  }
  
  .all-button-selected,
  .band-button-selected,
  .busker-button-selected,
  .dj-button-selected,
  .performance-button-selected {
    background-color: none;
    border: 3px solid;
    height: 24px;
    width: 24px;
    border-radius: 50%;
  }
  
  .all-button-selected {
    border-color: deepskyblue;
  }
  
  .band-button-selected {
    border-color: hotpink;
  }
  
  .busker-button-selected {
    border-color: red;
  }
  
  .dj-button-selected {
    border-color: yellow;
  }
  
  .performance-button-selected {
    border-color: green;
  }
  

   /* SM - Small tablets */
   @media (min-width: 576px) {
    .home-control {
      /* background-color: orangered; */
    }
  }
  
  
  /* MD - Tablets */
  @media (min-width: 768px) {
    .home-control {
      /* background-color: mediumblue; */
    }
    .home-control-genre {
      width: 25%;
      margin-left: auto;
      /* background-color: blue; */
    }
    .genre {
      display: flex;
      justify-content: space-between;
    }

  } 
  
  /* LG - Small laptops */
  @media (min-width: 992px) {
    .home-control {
      /* background-color: cyan; */
    }
    .home-control-genre {
      width: 25%;
      margin-left: auto;
      /* background-color: blue; */
    }
    .genre {
      display: flex;
      justify-content: space-between;
    }

  }
  
  /* XL - Desktops */
  @media (min-width: 1200px) {
    .home-control {
      /* background-color: lightblue; */
    }
    .home-control-genre {
      width: 25%;
      margin-left: auto;
      /* background-color: blue; */
    }
    .genre {
      display: flex;
      justify-content: space-between;
    }

    }
  
  /* XXL - Large screens / 4K */
  @media (min-width: 1400px) {
    .home-control {
      /* background-color: darksalmon; */
    }

    .home-control-address {
      display: flex;
      justify-content: flex-start;
      text-align: left;
      width: 50%;
    }
    
    .address {
      font-weight: bolder;
    }
    
    .home-control-global-date {
      display: flex;
      justify-content: center;
      font-weight: bolder;
      width: 25%;
      /* background-color: aquamarine; */
    }

    .global-date{

    }
    
    .home-control-genre {
      /* padding-top: 16px; */
      width: 25%;
      margin-left: auto;
      /* background-color: blue; */
      
    }
    
    .genre {
      display: flex;
      justify-content: space-between;
      /* max-width: 800px; */
      margin-top: -16px;
    }

  .home-control-search {
    /* background-color: yellow; */
    width: 50%;
    display: flex;
    justify-content: left;
    align-items: left;
    
  }
  
  .search {
 
    white-space: nowrap;
    font-weight: bolder;
  }
  
  .search input[type="text"] {
    box-sizing: border-box;
    font-size: 1rem;
    width: 200%;
  }
  
  .home-control-distance {
    display: flex;
    /* background-color: coral; */
    width: 12.5%;
    /* background-color: hotpink; */
    justify-content: right;
    align-items: center;

  }
  .distance{
    /* background-color: aquamarine; */
  }
  
  .home-control-within {
    width: 12.5%;
    display: flex;
    justify-content: right;
    align-items: center;
    /* background-color: bisque; */
  }

  .within{
  }
  
  .home-control-sort {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 25%;
  }
  .sort{
  }

  } 
  