.hidden {
  display: none;
}

.home-control {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 8px;
}

.control-row-one {
  display: flex;
  flex-wrap: wrap;
}


.home-control-address {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.address {
  font-weight: bolder;
}

.home-control-global-date {
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: bolder;
  width: 100%;
}

.progress-bar-container,
.calendar-container {
  display: flex;
  justify-content: center;
  width: 100%; /* take full row width */
  margin: 0 auto;
}


.home-control-genre {
  padding-top: 16px;
  width: 100%;
  margin-left: auto;
  
}

.progress-bar-container {
  display: flex;
  justify-content: center;
  padding-bottom: 16px;
}

.calendar-container {
  display: flex;
  justify-content: center;
}

.genre {
  display: flex;
  justify-content: space-around;
}

.genre-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
}

.control-row-two {
  display: flex;
  flex-wrap: wrap;
  padding-top: 8px;
}

.home-control-search {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  white-space: nowrap;
}

.search input[type="text"] {
  box-sizing: border-box;
  font-size: 1rem;
  min-width: 318px
}

.home-control-distance {
  display: flex;
  width: 33%;
  justify-content: center;
  align-items: center;
  padding: 8px 0;
}

.distance {
  width: auto;
}

.home-control-within {
  display: flex;
  width: 33%;
  justify-content: center;
  align-items: center;
  padding: 8px 0;
}

.home-control-sort {
  display: flex;
  width: 33%;
  padding: 8px 0;
}

.all-button,
.band-button,
.busker-button,
.dj-button,
.performance-button {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.all-button {
  background-color: deepskyblue;
}

.band-button {
  background-color: hotpink;
}

.busker-button {
  background-color: red;
}

.dj-button {
  background-color: yellow;
}

.performance-button {
  background-color: green;
}

.all-button-selected,
.band-button-selected,
.busker-button-selected,
.dj-button-selected,
.performance-button-selected {
  border: 3px solid;
  height: 24px;
  width: 24px;
  border-radius: 50%;
}

.all-button-selected {
  border-color: deepskyblue;
}

.band-button-selected {
  border-color: hotpink;
}

.busker-button-selected {
  border-color: red;
}

.dj-button-selected {
  border-color: yellow;
}

.performance-button-selected {
  border-color: green;
}

/* SM - Small tablets */
@media (min-width: 576px) {
}

/* MD - Tablets */
@media (min-width: 768px) {
  .home-control-genre {
    width: 100%;
    margin-left: auto;
  }
  .genre {
    justify-content: space-around;
  }
}

/* LG - Small laptops */
@media (min-width: 992px) {
  .home-control-genre {
    width: 100%;
    margin-left: auto;
  }
  .genre {
    justify-content: space-around;
  }
}

/* XL - Desktops */
@media (min-width: 1200px) {
  .home-control-genre {
    width: 100%;
    margin-left: auto;
  }
  .genre {
    justify-content: space-around;
  }
}

/* XXL - Large screens / 4K */
@media (min-width: 1400px) {
  .home-control-address {
    display: flex;
    justify-content: flex-start;
    text-align: left;
    width: 50%;
  }
  .home-control-global-date {
    display: flex;
    justify-content: center;
    width: 25%;
  }
  .home-control-genre {
    width: 100%;
    margin-left: auto;
  }
  .genre {
    justify-content: space-around;
    margin-top: -16px;
  }
  .home-control-search {
    width: 50%;
    justify-content: left;
    align-items: left;
  }
  .search input[type="text"] {
    box-sizing: border-box;
    font-size: 1rem;
    width: 200%;
  }
  .home-control-distance {
    width: 12.5%;
    justify-content: right;
    align-items: center;
  }
  .home-control-within {
    width: 12.5%;
    justify-content: right;
    align-items: center;
  }
  .home-control-sort {
    justify-content: right;
    align-items: center;
    width: 25%;
  }
}
