<div class = "event-table-control-panel">
  <div class = "genre">
        <div class = "all-button" (click) = "allFunction()" [class.all-button]="allEventsVisible" [class.all-button-selected]="!allEventsVisible">
        </div>
        <div class = "all">
          </div>
        <div class = "band-button" (click) = "bandFunction()" [class.band-button]="bandEventsVisible" [class.band-button-selected]="!bandEventsVisible">
        </div>
        <div class = "band">
          </div>
        <div class = "busker-button" (click) = "buskerFunction()" [class.busker-button]="buskerEventsVisible" [class.busker-button-selected]="!buskerEventsVisible">
        </div>
        <div class = "busker">
          </div>
        <div class = "dj-button" (click) = "djFunction()" [class.dj-button]="djEventsVisible" [class.dj-button-selected]="!djEventsVisible">
        </div>
        <div class = "dj">
          </div>
        <div class = "performance-button" (click) = "performanceFunction()" [class.performance-button]="performanceEventsVisible" [class.performance-button-selected]="!performanceEventsVisible">
        </div>
        <div class = "Performance">
        </div>
  </div>
      <!-- <div class = "search-and-snort">
        <div class = "search-div">
          <input class = "search" [(ngModel)] = "searchText"  placeholder="Search..."   type = "string" >
          {{searchText}}  
          </div>
        <div class = "snort-div">
        <label *ngFor="let sort of sorts; let i = index">
          <input class = "snort" type="checkbox">
          {{sort}}
          </label>
      </div>
    </div> -->
</div>
