.nav-container{
  background-color: pink;

  padding:none;
}

.circle-container{
  background-color: red;
  height:270px;
  width: 270px;
  margin:0 auto; 
  position: relative;
}


.circletop{
  background-color: cyan;
  height:180px;
  width:180px;
  border-radius: 50%;
  position: absolute;
  left: 45px;
}

.circleleft{
background-color: magenta;
height:180px;
width:180px;
border-radius: 50%;
position: absolute;
top:90px;
}

.circleright{
  background-color: yellow;
  height:180px;
  width:180px;
  border-radius: 50%;
  position: absolute;
  left: 90px;
  top: 90px;
  }


#circle { mix-blend-mode: darken; }

