<div class="ui">
  <div class="content">
    <div class="admin">
      <div class="container">

        <!-- List One -->
        <div class="item item-1">
          <a class="one">List One</a>
        </div>

        <!-- List Two -->
        <div class="item item-2">
          <a class="two">List Two</a>
        </div>

        <!-- List Three -->
        <div class="item item-3">
          <a class="three">List Three</a>
        </div>

        <!-- Buskers & Events -->
        <div class="item item-4">
          <app-event-list class = "events" [events]="events" (selectedEvent)="eventSelect($event)"></app-event-list>
          <!-- <app-busker-list class = "buskers" [buskers]="buskers" (selectedBusker)="buskerSelect($event)"></app-busker-list> -->
                 <app-users-list class="users" [users]="users" (selectedUser)="userSelect($event)"></app-users-list>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-event-modal class = "modal" [isOpen]="showEventModal" (close)="showEventModal = false " [event]="event">
</app-event-modal>
<app-busker-modal class = "modal" [isOpen]="showBuskerModal" (close)="showBuskerModal = false " [busker]="user">
</app-busker-modal>
