<div class="ui">
  <div class="content">
    <div class="admin">
      <div class="container">

        <!-- List One -->
        <div class="item item-1">
          <a class="one">List One</a>
        </div>

        <!-- List Two -->
        <div class="item item-2">
          <a class="two">List Two</a>
        </div>

        <!-- List Three -->
        <div class="item item-3">
          <a class="three">List Three</a>
        </div>

        <!-- Buskers & Events -->
        <div class="item item-4">
          <app-event-list></app-event-list>
          <app-busker-list></app-busker-list>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- <app-busker-modal class = "modal" [isOpen]="showModal" (close)="showModal = false " [busker]="busker">
</app-busker-modal> -->
