.progress-bar {
    display: grid; /* Use CSS grid */
    grid-template-columns: repeat(24, 1fr); /* Create 24 equal-width columns */
    gap: 2px; /* Add a small gap between grid cells (adjust as needed) */
    background-color: white;
    z-index: 10;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    max-width: 365px;
    font-size: 50%;
    color: black;
    border-radius: 25px;
    border: 2px solid whitesmoke;
    
  }
  
  .hourAM-container {
    display: flex;
    justify-content: center;
    
  }

.progress-bar-select {
    background-color: black;
    z-index: 12;
    position: absolute;

}
