.flex-grid {
  display: flex;
  width: 100%;
}

.col {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.busker-list-container {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.busker-list-container::-webkit-scrollbar {
  display: none;
}

.busker-list {
  height: 100%;
  width: 100%;
}

.busker-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  gap: 8px;
}

.busker-item {
  flex: 1 1 calc(25% - 32px);
  min-width: 300px;
  min-height: 300px;
  max-width: 300px;
  max-height: 300px;
  box-sizing: border-box;
  border: 6px solid whitesmoke;
  border-radius: 16px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  aspect-ratio: 1 / 1;
}

.busker-item.selected {
  border: 2px solid #4caf50;
}

/* top section (image + details) */
.top-section {
  align-items: stretch;
}

.busker-profile-image-container {
  min-width: calc(50% - 10px);
  height: 100px;
  border-radius: 30% 10% 30% 10%;
  overflow: hidden;
  border: 6px solid whitesmoke;
  margin-right: 10px;
}

.busker-profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.busker-user-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-all;
  white-space: normal;
}

.busker-user-name-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
}

.busker-user-name {
  font-weight: bold;
}

.busker-user-role-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.busker-user-role {
  color: #222;
}

/* email */
.busker-email {
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-all;
  white-space: normal;
  padding: 0 10px;
}

/* joined + address */
.busker-created-text-container,
.busker-address-text-container {
  justify-content: left;
  padding-left: 10px;
}

.busker-created-date,
.busker-address {
  font-weight: bold;
}

/* followers + events */
.busker-followers-text-container,
.busker-events-text-container {
  justify-content: left;
  padding-left: 10px;
}

.buskerPagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buskerPagination button.selected {
  font-weight: bold;
}

/* Breakpoints same as events */

/* SM */
@media (min-width: 576px) {
  .busker-item {
    min-width: 350px;
    min-height: 350px;
    max-width: 350px;
    max-height: 350px;
  }
}

/* MD */
@media (min-width: 768px) {
  .busker-item {
    min-width: 350px;
    min-height: 350px;
    max-width: 350px;
    max-height: 350px;
  }
}

/* LG */
@media (min-width: 992px) {
  .busker-grid {
    gap: 16px;
  }
  .busker-item {
    min-width: 350px;
    min-height: 350px;
    max-width: 350px;
    max-height: 350px;
  }
}

/* XL */
@media (min-width: 1200px) {
  .busker-item {
    min-width: 350px;
    min-height: 350px;
    max-width: 350px;
    max-height: 350px;
  }
}

/* XXL */
@media (min-width: 1400px) {
  .busker-grid {
    gap: 16px;
  }
  .busker-list-container {
    height: 100%;
    overflow-y: auto;
  }
  .busker-list {
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    white-space: nowrap;
  }
  .busker-list::-webkit-scrollbar {
    display: none;
  }
  .busker-item {
    flex: 1 1 calc(25% - 32px);
    min-height: calc(50% - 8px);
    aspect-ratio: 1 / 1;
    min-width: 300px;
    min-height: 300px;
    max-width: 350px;
    max-height: 350px;
  }
}
