.burger-menu {
    display: inline-block;
    cursor: pointer;
    padding-right: 15px;
  }
  
  .burger-menu div {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
    border-radius: 5px; /* Make edges rounded */
  }
  
  .change .bar1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .change .bar2 {
    opacity: 0;
  }
  
  .change .bar3 {
    transform: rotate(45deg) translate(-8px, -8px);
  }
  

  .flex-grid {
    display: flex;
    background-color: none;
}
  
  .col {
    flex: 1;
    display: flex; 
}

.main-menu-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:none;
}

.log-in-main-menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:none;
}


.home{
    padding: 15px;
}
  
.sign-up{
  padding: 15px;
}

.log-in{
  padding: 15px;
}

.users{
  padding: 15px;
}

.nav-user{
  padding: 15px;
}

.nav-users{
  padding: 15px;
}
.nav-edit-events{
  padding: 15px;
}
.nav-edit-events{
  padding: 15px;
}
.nav-edit-users{
  padding: 15px;
}
.nav-log-out{
  padding: 15px;
}

.hidden{
  opacity: 0%;
}