.about{
    /* background-color: darkorchid; */
        height: 80vh;
    width: 85vw;

}

.item-1{
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    width: 85vw;

}