.progress-bar {
    height: 20px;
    width: 365px;
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    z-index: 10;
    justify-content: center;
    align-items: center; 
    font-size: 65%;
    color: black;
    border-radius: 25px;
    border: 2px solid whitesmoke;
    
  }
  
  .hourAM-container {
    border-radius: 2px;
  }

  .pm{
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;

  }

.progress-bar-select {
  display: flex;
  justify-content: center;
  align-content: center;
    z-index: 12;
    position: absolute;

}

.dot-boundary {
  display: flex;
  /* justify-content: center; */
  align-content: center;
  width: 384px;
  position: relative;
  left: -10px
  
}
.dot {
  height: 20px;
  width: 20px;
    opacity: 90%;
  background-color: seagreen;
  border-radius: 50%;
  display: inline-block;
  position: relative; 
}



