.page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 100vw;
    padding: 0px;
    padding-left: 0px;
  }

  .header-container {
    flex-shrink: 0;
    min-width: 100vw;
    padding: 0px;
    padding-left: 0px;
    font-weight: bolder;
    font-size: x-large;
  }
  
  .content-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: stretch;
        font-size: large;
  }
  .footer-container {
    flex-shrink: 0;
    z-index: -1;
  }
  
