.display-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: darkviolet; */
    min-height: 91vh
}
.flex-grid {
    display: flex;
    background-color: none;
}
  
  .col {
    flex: 1;
    display: flex; 
}

.header-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-menu-container{
    width: 100vmax;
}
.router-outlet-container{
}

.footer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}




