.flex-grid {
    display: flex;
    background-color: none;
}
  
  .col {
    flex: 1;
    display: flex; 
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the page takes up the full height of the viewport */
  }
  
  .header-container {
    flex-shrink: 0; /* Prevent the header from shrinking */
  }
  
  .content-container {
    flex-grow: 1; /* Allows the content to take up remaining space */
  }
  
  .footer-container {
    flex-shrink: 0; /* Prevent the footer from shrinking */
  }
  
