<!-- ---------------------------------------------- HEAD THE BALL-->
<div>
    <div class="row1" id= "header">
    <div class="col-3 col-s-3 ">
        <div class="header" id="header">
        <img src="assets/highlightlogo.png" alt="" id="logo">
        </div>
    </div>
<!-- ---------------------------------------------- NAV-->
    <div class="row" id="nav">
    <div class="col-6 col-s-6 ">
            <app-nav></app-nav>
     </div>
    </div>
<!-- ---------------------------------------------- SIDEBAR 1-->
    <div class="row">
        <div class="col-3 col-s-3 " id="sidebar-1">
            
        </div>
<!-- ---------------------------------------------- MEDIA-->
    <div class="row">
        <div class="col-6 col-s-6 " id="media">
            <app-media></app-media>
        </div>
<!-- ---------------------------------------------- SIDEBAR 2-->
    <div class="row">
        <div class="col-3 col-s-3 " id="sidebar-2">
            
        </div>
    </div>


<!-- ---------------------------------------------- FOOTER-->
    <div class="row">
        <div class="col-3 col-s-3" id="shop">
        <img src="assets/shop.png" alt="" id="shop">
        </div>

    <div class="row">
        <div class="col-6 col-s-6" id="footer">
        </div>
    
    
    <div class="row">
        <div class="col-3 col-s-3" id="footer">
        <img src="assets/stafford.png" alt="" id="stafford">
        </div>
     
</div>

