<!-- ---------------------------------------------- HEAD THE BALL-->
<div>
    <div class="row1" id= "header">
    <div class="col-3 col-s-3 ">
        <div class="header" id="header">
        <img src="assets/highlightlogo.png" alt="">
        </div>
    </div>

    
<!-- ---------------------------------------------- NAV-->
    <div class="row" id="nav">
        <div class="col-6 col-s-6 ">
            <app-nav></app-nav>
        </div>
    </div>
<!-- ---------------------------------------------- SIDEBAR 1-->
    <div class="row">
        <div class="col-3 col-s-3 " id="sidebar-1">
            <p>Sidebar 1</p>
        </div>
<!-- ---------------------------------------------- MEDIA-->
        <div class="col-6 col-s-6 " id="media">
            <app-media></app-media>
        </div>
<!-- ---------------------------------------------- SIDEBAR 2-->
        <div class="col-3 col-s-3 " id="sidebar-2">
            <p>Sidebar 2</p>
        </div>
    </div>
<!-- ---------------------------------------------- FOOTER-->
     <div class="row">
         <div class="col-12 col-s-12 ">
        <div class="footer" id="footer">
        <p>An siopa</p>
        <p>Designed by Patrick Stafford &copy;2020 </p>
        </div>
    </div>
</div>