<a [routerLink]="['/home']">
  <img src="/assets/highlight.jpg" height="40" width="40" priority>
</a>

<div class="googleMap hidden" #mapContainer id="map" (click)="onMapClick($event)"></div>

<button class="placeMarkerButton hidden" id="place-marker-btn" (click)="placeMarker()"> {{ placeMarkerButtonMessage }}</button>

<router-outlet></router-outlet>


<div class ="addressDisplay hidden">
<h1>{{address}}</h1> 
</div>

<!-- 
<h1>{{band}}</h1>
<h2>{{user.name}}</h2>
<h2>{{user.id}}</h2>


<div>
  <label for="name">Hero name: </label>
  <input id="name" [(ngModel)]="user.name" placeholder="name">
</div> -->

<!-- <h1>{{marker?.getPosition()?.toString()}}</h1> -->