.header-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    align-items: center;
    z-index: 13;

}

.header-image img{
    justify-content: center;
    align-items: center;
    max-width: 15%;
    max-height: 15%;
    
    /* min-width: 10%;
    min-height: 10%;  */
}

.header-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.header-progress-bar{ 
    z-index: 23;
}



  /* Responsive Layouts */
  @media (min-width: 1200px) {
   
  }
  
  @media (min-width: 850px) and (max-width: 1199px) {
    .header-image img{
        justify-content: center;
        align-items: center;
        max-width: 30%;
        max-height: 30%;
        /* min-width: 10%;
        min-height: 10%;  */
        /* padding-bottom: 32px; */
    }

  }
  
  @media (max-width: 849px) {
    .header-image img{
        justify-content: center;
        align-items: center;
        max-width: 30%;
        max-height: 30%;
        /* min-width: 10%;
        min-height: 10%;  */
    }
  }
