
<div class="user">
      <br>
        <label for="first-name">First Name:   {{firstName}}</label>
        <label for="last-name">Last Name: {{lastName}}</label>
        <label for="user-id">User ID: {{userId}}</label>
        <label for="user-dob">DOB: {{userDob}}</label>
        <label for="user-password">Password: {{userPassword}}</label>
        <label for="user-role">User Role: {{userSpareService}}</label>
        <label for="email">Email: {{email}}</label>
      <br>
  </div>   
<br>
<br> 

<br>