
.flex-grid {
  display: flex;
  background-color: none;
}

.col {
  flex: 1;
  display: flex; 
}

.event{
  display: flex;
  justify-content: center;
  align-items: center;
}

.eventContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: none;
  min-width: 365px;
  max-width: 365px;
  border-radius: 25px;
  border: 6px solid whitesmoke;
}

.checkoutForm {
  top: -20px;
  background-color: none;
  /* opacity: 50%; */
  max-width: 365px;
}

.name {
  background-color: none;
  justify-content: left; 
  text-align: left;
}

.type{
  background-color: none;
  justify-content: right; 
  /* margin-left: 45px; */
}

.selectAddressButton{
  justify-content: left; 
  background-color: none;
}

.address{
  margin-left: -90px;
  background-color: none;
  justify-content: right; 
}

.startDateDisplayText{
  background-color: none;
  text-align: left;
}

.startDateDisplay{
  background-color:  none;
  text-align: center;
}

.startTimeButton{
  background-color: none;
  justify-content: right; 
}

.startTimeDisplayText{
  background-color:  none;
  text-align: center;
}

.startTimeDisplay{
  background-color:  none;
  text-align: center;
}

.startDateSelect{
  margin-left: -6px;
  background-color: none;
}

.startTimeSelect{
  background-color: none;
}

.finishDateDisplayText {
  background-color:  none;
  text-align: left;
}
.finishDateDisplay {
  background-color:  none;
  text-align: left;
}
.finishTimeDisplayText{
  text-align: center;
  background-color:  none;

}
.finishTimeDisplay{
  background-color:  none;
}

.finishTimeButton{
  background-color: none;
  justify-content: right; 
}

.finishDateSelect {
  margin-left: -6px;
}

.finishTimeSelect{
  background-color: none;
}

.submit{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: none;
}

.hardcodedButton{
  width: 65px;
  height: 65px;
}

/* 
<div class = "eventContainer">
<div class="event">
  <form class="checkoutForm" 
    <div class = "name col">
    <div class = "type col">
    <div class = "selectAddressButton col">
    <div class = "address col">
    <div class = "startDate col">
    <div class = "startDateDisplay col">
    <div class = "start col">
    <div class = "startTimeDisplay col">
    <div class = "startTimeButton col">
    <div class = "startDateSelect col" >
      <app-calender *ngIf="calenderStartEventVisible" class = "calenderStartDate" (selectDateEvent)="onStartDateSelected($event)"></app-calender>
    <div class = "startTimeSelect col">
      <app-progress-bar *ngIf="calenderStartEventVisible" class = "calenderStartTime" (selectTimeEvent)="onStartTimeSelected($event)"></app-progress-bar>
    <div class = "finishDate col">
    <div class = "finishDisplay col">
    <div class = "finishTime col">
    <div class = "finihsDisplay col">
    <div class = "finishTimeButton col">
    <div class = "finishTimeSelect col" >
     class = "calenderFinish
  <div class = "finishTimeSelect col">
class = "calenderStartTime" 
    <div class = "submit col">
    <button type="submit" class = "hardcodedButton" [disabled]="!checkoutForm.valid">Submit</button> */

/* ------------------ */
/* 
display: flex;
flex-wrap: wrap;
flex-direction: column;
font-weight: bold;
justify-content: center;
align-items: center; */





/* .eventContainer {
  border-radius: 25px;
  border: 6px solid whitesmoke;
  min-width: 365px;
  background-color: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.checkoutForm {
    display: grid;
    grid-template-columns: repeat(4, 75px);
    grid-template-rows: repeat(5, 50px);
    gap: 10px;
    margin: auto;
  }

.name {
    grid-column-start: 1;
    grid-row-start: 1;
  }
  
.type{
    grid-column-start: 4;
    grid-row-start: 1;
}
.selectAddressButton{
    grid-column-start: 4;
    grid-row-start: 2;
    display: inline-block;
  }
  .address{
    grid-column-start: 1;
    grid-column-end: span 3;
    grid-row-start: 2;
    display: inline-block;
  }

  .start {
    grid-column-start: 1;
    grid-row-start: 3;

  }
  .startTimeButton{
    grid-column-start: 4;
    grid-row-start: 3;
  }
  .startTimeSelect{
    grid-column-start: 1;
    grid-row-start: 5;
    background-color: none;
  
  }

  .finish {
    grid-column-start: 1;
    grid-row-start: 4;
  }
  .finishTimeButton{
    grid-column-start: 4;
    grid-row-start: 4;
  }
  

  .submit {
    grid-row-start: 5;
    grid-column-end: span 4;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-weight: bold;
    justify-content: center;
    align-items: center;
  } */
