<div class="event">
  <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">

    <a>Name: <input type="string" formControlName="name"></a>
    <div *ngIf="checkoutForm.get('name').errors?.['minlength']">Neeed more character.</div>

    <a>Type: </a> <select formControlName ="eventType"><option *ngFor="let type of typesOfEvents" [ngValue]="type">{{type}}</option></select>
    <br>

    <a>Lat: <input type="number" formControlName="eventLat"></a>
   
    <br>
    <a>Lng: <input type="number" formControlName="eventLng"></a>
    <br>
    <a>Start Date & Time: <input type="datetime-local" formControlName="startDateTime"></a>&nbsp;
    <br>
    <a>Finish Date & Time: <input type="datetime-local" formControlName="finishDateTime"></a>
   <br>

    <button type="submit" [disabled]="!checkoutForm.valid">Submit</button>
  </form>
</div>   


