#map {
    height: 500px;
    width: 100vw;
    max-width: 1260px;

   }

   .hidden {
    display: none;
  }

.googleMapContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* max-width: 1260px;
    min-width: 450px;
    min-height: 250px; */


    background-color:white;
    font-size: medium;
    border-radius: 25px;
    /* border: 6px solid whitesmoke; */

}