
<div>

  <button (click)="toAdminHomePage()">toAdminHomePage</button>
  <button (click)="logOff()">logOff</button>
  <br>
{{userDTO.email}}
  <br>

  <br>

  <br>

  <br>

  <br>
</div>





<button (click)="toCreateEventPage()">Create Event Brah</button>







<div class = "home">
  <!-- <div class="register" [style.fontSize] = "componentVisibility.register.fontSize" [style.textAlign]="componentVisibility.register.textAlign">
    <a class = "uiFont" (click)="openSaysMe('register')">Register</a>
  <app-sign-up *ngIf="componentVisibility.register.visible"></app-sign-up>
</div>  -->

<!-- <div class="logIn" [style.fontSize] = "componentVisibility.logIn.fontSize" [style.textAlign]="componentVisibility.logIn.textAlign">
  <a class = "uiFont" (click)="openSaysMe('logIn')">Log In</a>
<app-log-in *ngIf="componentVisibility.logIn.visible"></app-log-in>
</div> -->

<!-- <div class="googleMap" [style.fontSize] = "componentVisibility.googleMap.fontSize" [style.textAlign]="componentVisibility.googleMap.textAlign">
  <a class = "uiFont" (click)="openSaysMe('googleMap')">Google Maps</a>
<app-google-map *ngIf="componentVisibility.googleMap.visible"></app-google-map>
</div> -->

<!-- <div class="eventsDisplpay" [style.fontSize] = "componentVisibility.eventsDisplpay.fontSize" [style.textAlign]="componentVisibility.eventsDisplpay.textAlign">
  <a class = "uiFont"  (click)="openSaysMe('eventsDisplpay')">Events</a>
<app-contemporary-events *ngIf="componentVisibility.eventsDisplpay.visible"></app-contemporary-events>
</div> -->

<!-- <div class="user" [style.fontSize] = "componentVisibility.user.fontSize" [style.textAlign]="componentVisibility.user.textAlign">
  <a class = "uiFont" (click)="openSaysMe('user')">User</a>
<app-user *ngIf="componentVisibility.user.visible"></app-user>
</div> -->

<!-- <div class="editUser" [style.fontSize] = "componentVisibility.editUser.fontSize" [style.textAlign]="componentVisibility.editUser.textAlign">
  <a class = "uiFont" (click)="openSaysMe('editUser')">Edit User</a>
  <app-edit-user *ngIf="componentVisibility.editUser.visible"></app-edit-user>
</div> -->

<!-- <div class="createEvent" [style.fontSize] = "componentVisibility.createEvent.fontSize" [style.textAlign]="componentVisibility.createEvent.textAlign">
  <a class = "uiFont"  (click)="openSaysMe('createEvent')">Create Event</a>
<app-create-event *ngIf="componentVisibility.createEvent.visible"></app-create-event>
</div> -->



</div>

