<div  class = "home" [ngClass]="{'disable-interaction': showModal}">
<div class = "item-1-container">
<div class = "item-1">
<app-map  class = "map"
  (mapInput)="onMapReady($event)"
  (mapCenterChanged)="onMapMoved($event)"
  (mapClicked)="onMapClicked($event)">
</app-map>  
</div>
</div>

<div class="item-2-container">
  <div class="item-2">
    <div class="home-address-and-date">
      <div class="home-address">{{homeAddress}}</div>
      <div class="home-date" (click) = "toggleDateControls()">{{globalDate | date:'HH:mm EEE MMM d y'}}</div>
    </div>
  </div>
</div>


<div class = "item-3-container">
<div class = "item-3">
<app-events-table-control class = "controls"></app-events-table-control>
</div>
</div>
<br>
<div  class = "item-4-container">
<div class = "item-4">
<!-- <app-events-table-control (selectGenre)="onGenreChange($event)"></app-events-table-control> -->
<app-common-events [events]="events" (selectedEvent)="onSelect($event)"></app-common-events>
</div>
</div>
</div>
<app-event-modal  *ngIf = "showModal" class = "modal" [isOpen]="showModal" (close)="showModal = false" [event]="event">
</app-event-modal>
