<div class = "home-container">
  <div class = "home">
    <div class = "events-heading">
        <a routerLink="/events">Events</a>
    </div>
    <div class = "user-heading">
        <a routerLink="/user">User</a>
    </div>
    <div class = "users-heading">
        <a routerLink="/users">Users</a>
    </div>
    <div class = "about-heading">
        <a routerLink="/about">About</a>
    </div>
    <div class = "log-out-heading">
        <a routerLink="/log-out">Log Out</a>
    </div>
  </div>
</div>











































<!-- Components 

     <div class = "calender">
        <a routerLink="/calendar">Calender</a>
    </div>
    <div class = "progress-bar">
        <a routerLink="/progressbar">Progress bar</a>
    </div> -->
    <!-- <div class = "global-date-and-time">
        <a routerLink="/globaldateandtime">Global Date</a>
    </div> -->
    <!-- <div class = "google-map">
        <a routerLink="/googlemap">Google Map</a>
    </div> -->
    <!-- <div class = "event">
        <a routerLink="/event">Event</a>
    </div> -->