.flex-grid {
  display: flex;
  background-color: none;
  justify-content: space-between;
}

.col {
  flex: 1;
}

.formDiv{
  display: flex;
  justify-content: center;
  align-items: center;
}

dialog {
  /* background-color: beige; */
    box-shadow: 0 0 20px 8px #d0d0d0;
    border-radius: 25px;
    border: 6px solid whitesmoke;
    max-width: 1260px;
    display: flex;
    padding: 0px;
    min-width: 365px;
    display: flex;
    justify-content: center;
    align-items: center;

  }

.formContainer {
    background-color: none;
  }

.checkoutForm {
  /* background-color: yellow; */
  padding-top: 10px;
  width: 345px;
  background-color: none;
  }
  
.event-title{
    /* background-color: olive; */
    min-width: 50%;
    max-height: 65px;
    min-height: 65px;
  }

.event-type{
    /* background-color: azure; */
    max-height: 65px;
    min-height: 65px;
    text-align: right;
  }

.event-type-input{
    /* background-color: greenyellow; */
    min-width: 65px;
    max-height: 65px;
    min-width: 91.25px;
  }
  
.address{
    /* background-color: lime; */
    min-width: 50%;
  }
  
.address-input{
    /* background-color: white; */
    justify-content: right;
    text-align: right;
    min-height: 65px;
  }
  
.start-time-display{
    /* background-color: blueviolet; */
    text-align: left;
    
  }
  
.start-time{
    /* background-color: darkgray; */
    min-width: 65px;
    max-height: 65px;
    min-height: 65px;
  }
  

.start-date-display{
    /* background-color: none; */
  }
  
.start-date{
    /* background-color: limegreen; */
    min-width: 65px;
    max-height: 65px;
    min-height: 65px;

  }
  
.start-select{
    /* background-color: deeppink; */
    display: flex;
    justify-content: right;
    align-items: center;
    min-height: 65px;
    max-height: 65px;

  }
  
.finish-time-display{
    background-color: none;

  }
  
.finish-time{
    background-color: none;

  }
  
.finish-date-display{
    background-color: none;

  }
  
.finish-date{
    /* background-color: crimson; */
    min-height: 65px;
    max-height: 65px;
  
  }
  
.finish-select{ 
    /* background-color: gold; */
    display: flex;
    justify-content: right;
    align-items: center;
    min-height: 65px;
    max-height: 65px;
  }

 .menuDiv{
  flex: none;
  /* background-color: coral; */

  }

  menu {
    margin-right: 40px;
    margin-left: 0px;
    display: flex;
    justify-content: space-evenly;
    background-color: none;
    /* padding: none; */
  }

  .hardcodedButton{
    width: 65px;
    height: 65px;
  }
  
  .hardcodedButtonSlim{
    width: 65px;
    height: 32.5px;
  }
