.flex-grid {
  display: flex;
  background-color: none;
  justify-content: space-between;
}

.col {
  flex: 1;
}

.formDiv{
  display: flex;
  justify-content: center;
  align-items: center;
}

dialog {
  /* background-color: beige; */
    box-shadow: 0 0 20px 8px #d0d0d0;
    border-radius: 25px;
    border: 6px solid whitesmoke;
    max-width: 1260px;
    display: flex;
    padding: 0px;
    min-width: 365px;
    display: flex;
    justify-content: center;
    align-items: center;

  }

.formContainer {
    background-color: none;
  }

.checkoutForm {
  /* background-color: yellow; */
  padding-top: 10px;
  width: 345px;
  background-color: none;
  }
  
.event-title{
    /* background-color: olive; */
    min-width: 60%;
    max-height: 65px;
    min-height: 65px;
  }

.event-title-input-div{
    height: 32.55px;
    width: 195px;
  }

.event-type{
    /* background-color: azure; */
    max-height: 65px;
    min-height: 65px;
    display: flex;
    text-align: right;
    justify-content: right;
    text-align: right;
  }

.event-type-input{
    text-align: right;
    justify-content: right;
  
  }

  .event-type-input-div{
    background-color: none;
  }
.address{
  padding-top: 10px;
    /* background-color: lime; */
    max-width: 20%;
  }

  .address-input-div{

    height: 32.5px;
    width: 190px;
  
  }
.address-display{
  padding-top: 10px;
    max-width: 22%;
  }
.address-input{
  padding-top: 10px;
    /* background-color: white; */
    justify-content: right;
    text-align: left;
    min-height: 65px;
  }
  
.start-time-display{
  padding-top: 10px;
    /* background-color: blueviolet; */
    text-align: left;
    
  }
  
.start-time{
    /* background-color: darkgray; */
    padding-top: 10px;
    min-width: 65px;
    max-height: 65px;
    min-height: 65px;
  }
  

.start-date-display{
  padding-top: 10px;
    background-color: none;
  }
  
.start-date{
    /* background-color: limegreen; */
    padding-top: 10px;
    min-width: 65px;
    max-height: 65px;
    min-height: 65px;

  }
  
.start-select{
    /* background-color: deeppink; */
    padding-top: 10px;
    display: flex;
    justify-content: right;
    align-items: center;
    min-height: 65px;
    max-height: 65px;

  }
  
.finish-time-display{
  padding-top: 10px;
    background-color: none;

  }
  
.finish-time{
  padding-top: 10px;
    background-color: none;

  }
  
.finish-date-display{
  padding-top: 10px;
    background-color: none;

  }
  
.finish-date{
  padding-top: 10px;
    /* background-color: crimson; */
    min-height: 65px;
    max-height: 65px;
  
  }
  
.finish-select{ 
  padding-top: 10px;
    /* background-color: gold; */
    display: flex;
    justify-content: right;
    align-items: center;
    min-height: 65px;
    max-height: 65px;
  }

 .menuDiv{
  flex: none;
  /* background-color: coral; */

  }

  menu {
    margin-right: 40px;
    margin-left: 0px;
    display: flex;
    justify-content: space-evenly;
    background-color: none;
    /* padding: none; */
  }

  .hardcodedButton{
    width: 65px;
    height: 65px;
  }
  
  .hardcodedButtonSlim{
    width: 65px;
    height: 32.5px;
  }
