<dialog #myDialog *ngIf = "dialogOpen" id="my-dialog" class="dialog" (ngSubmit)="onSubmit(checkoutForm)">

  <form class="checkoutForm"  [formGroup]="checkoutForm" method="dialog">
  <div class = "formDiv">
<div class =  "formContainer">
  <div class="flex-grid col">

    <div class = "event-title col">
    <a class = "detail-text">Title :
    </a>
    <br>
    <a class = "subject-text" *ngIf= "!editDialog">{{eventTitle}}</a>
    <input class = "event-title-input-div"  *ngIf= "editDialog" type="string" formControlName="eventTitle" placeholder="{{eventTitle}}">
    </div>

    <div class = "event-type col">
      <!-- <a>Type :</a> -->
    </div>
    <div class = "event-type-input col">
      <a class = "detail-text">Type :</a>
      <br>
      <a class = "subject-text" *ngIf= "!editDialog" >&nbsp;{{eventType}}</a>
      <select class = "event-type-input-div" *ngIf= "editDialog" formControlName ="eventType"><option *ngFor="let type of typesOfEvents" [ngValue]="type" placeholder="{{eventType}}" >{{type}}</option></select>
    </div>
  </div>



  <div class="flex-grid">
    <div class = "address col">
      <a class = "detail-text" *ngIf= "!editDialog">Address :</a>
      <button  *ngIf= "editDialog" class = "address-button" (click) = "finishSelect()">Select Address</button>
    </div>
    <div class = "address-input col">
      <input class = "address-input-div" *ngIf= "editDialog" type="string" formControlName="address" placeholder="{{currentEventAddress}}">
      <a class = "subject-text" *ngIf= "!editDialog">{{currentEventAddress}}</a>
      <br>
    </div>
  </div>

  <div class="flex-grid">

    <div class = "start-date-display col">
      <a class = "detail-text" >Start <br>Date :</a>
    </div>
    <div class = "start-date col">
      <a class = "subject-text">{{startDateAndTime  | date:'mediumDate' }}</a>
    </div>
    <div class = "start-time-display col">
      <a class = "detail-text" >Start <br>Time   :</a>
    </div>
    <div class = "start-time col">
      <a class = "subject-text">{{ startDateAndTime | date:'shortTime' }}</a>
    </div>
    <div *ngIf= "editDialog" class = "start-select col">
      <button *ngIf= "editDialog" class = "hardcodedButton" (click) = "startTimeSelectToggle()">Start Time & Date</button>
    </div>
  </div>


    <div class = "startDateSelect col" >
      <app-calendar *ngIf="calenderStartEventVisible" class = "calenderStartDate" [selectedDate]="startDateAndTime" (selectDateEvent)="onStartDateSelected($event)"></app-calendar>
    </div>

    <div class = "startTimeSelect col">
      <app-progress-bar *ngIf="calenderStartEventVisible" class = "calenderStartTime" [selectedTime]="startDateAndTime" (selectTimeEvent)="onStartTimeSelected($event)"></app-progress-bar>
    </div>
    <br>


  <div class="flex-grid">

    <div class = "finish-date-display col">
      <a class = "subject-text" class = "detail-text" >Finish Date :</a>
    </div>
    <div class = "finish-date col">
      <a class = "subject-text">{{ finishDateAndTime | date:'mediumDate' }}</a>
    </div>
    <div class = "finish-time-display col">
      <a class = "detail-text" >Finish Time :</a>
    </div>
    <div class = "finish-time col">
      <a class = "subject-text">{{ finishDateAndTime | date:'shortTime' }}</a>
    </div>
    <div *ngIf= "editDialog" class = "finish-select col">
      <button *ngIf= "editDialog" class = "hardcodedButton" (click) = "finishTimeSelectToggle()">Finish Time & Date</button>
    </div>
  </div>


    <div class = "finishDateSelect col" >
      <app-calendar  *ngIf="calenderFinishEventVisible"   class = "calenderFinishDate" [selectedDate]="finishDateAndTime" (selectDateEvent)="onFinishDateSelected($event)"></app-calendar>
    </div>

  <div class = "finishTimeSelect col">
    <app-progress-bar *ngIf="calenderFinishEventVisible" class = "progressBarFinishTime"  [selectedTime]="finishDateAndTime" (selectTimeEvent)="onFinishTimeSelected($event)"></app-progress-bar>
  </div>

</div>
</div>
<div class = "menuDiv"> 
<menu class = "menu">
  <button (click)="toggleModalEdit()" class = "hardcodedButtonSlim">Edit</button>
  <button (click)="toggleModalClose()">Close</button>
  <button type="submit" value="confirmBtn" (click)="toggleModalConfirm()" class = "hardcodedButtonSlim">Confirm</button>
  <button  class = "hardcodedButtonSlim">Delete</button>
</menu>
</div>
</form>
</dialog>