dialog {
    box-shadow: 0 0 20px 8px #d0d0d0;
    border-radius: 25px;
    border: 6px solid whitesmoke;
    max-width: 1260px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
 
 .flex-grid {
    display: flex;
    background-color: none;
  }
  
  .col {
    flex: 1;
    display: flex; 
  }


.event-title{
    background-color: bisque;
    display: flex;
    justify-content: left;
    align-items: center;
}
.event-title-input {
    background-color: darkorange;
    display: flex;
    justify-content: left;
    align-items: center;

}
  /* .event{
    display: flex;
    justify-content: center;
    align-items: center;
  } */