<dialog #myDialog [open]="dialogOpen" id="my-dialog">
  <form method="dialog">
    <div>
    <br>
    <a>{{title}}</a>
    <br>
    <a>{{eventType}}</a>
    <br>
    <a>{{lat}}</a>
    <br>
    <a>{{long}}</a>
    <br>
    <a>{{startAt}}</a>
    <br>
    <a>{{endAt}}</a>
    <br>
    <a>{{createdAt}}</a>
    <br>
    <a>{{updatedAt}}</a>
    <br>
    <a>{{id}}</a>
    <br>
    </div>
    <menu>
      <button type="submit" value="confirmBtn" (click)="toggleModalConfirm()">Edit</button>
      <button (click)="toggleModalClose()">Close dialog</button>
    <button type="submit" value="confirmBtn" (click)="toggleModalConfirm()">Confirm</button>
      <button (click)="toggleModalClose()">Close dialog</button>
    </menu>
  </form>
</dialog>
