<section class="product-card product-card--featured">
  <header class="product-card__header">
    <h2 class="product-card__title">List of Events</h2>
  </header>
  <div class="product-card__image-wrapper">
    <img src="product.jpg" alt="Image" class="product-card__image">
  </div>
  <div class="product-card__description">Description.</div>
  <footer class="product-card__footer">
    <button class="product-card_button product-card_button--buy"><a>Footer</a></button>
  </footer>Buy Now
</section>