<div class = "title-text-container">
    <h2 class = "title-text" >Edit Users</h2>
    </div>
    <br>
    <div class="user-div-container">
      <div class="user-div">
    
        <div class="flex-grid">
          <div class="user-profile-image-container col">
            <div class="user-profile-image"></div>
          </div>
          <div class="user-details-container col">
            <div class="user-id-container">
              <div class="user-id">
                <a class="user-id-text">{{currentUser.id}}</a>
                <br>
                <br>
                <a class="user-email-text">{{currentUser.email}}</a>
              </div>
            </div>
          </div>
          <div class="user-roles-container col">
            <div class="user-role">
              <a class="user-roles">{{userRoles}}</a>
              <br>
              <a class="user-address">address</a>
            </div>
          </div>
        </div>
        <br>
        <div class="border flex-grid">
        </div>
          <div class="user-controls flex-grid">
            <div class="user-controls-a">
              <div class="user-controls-a-button">
            <div class="user-controls-text-a" (click) = "a()"></div>
            </div>
            </div>
            <br>
            <div class="user-controls-b">
              <div class="user-controls-b-button">
            <div class="user-controls-text-b" (click) = "b()"></div>
              </div>
          </div>
          </div>
      </div>
    
    </div>
    
    