<div class = "ui">
<div class = "content"> 
<div class="busker">
<div class="container">
    <div class="item item-1">
      <app-user-profile  class = "user-profile"></app-user-profile>
    </div>
    <div class="item item-2">
      <app-map class = "map"></app-map>
    </div>
    <div class="item item-3">
         <app-buskers-mini-display class = "buskers-mini" [buskers]="buskers"></app-buskers-mini-display>
    </div>
    <div class="item item-4">
        <app-buskers-table class = "buskers" [buskers]="buskers"   (selectedBusker)="onSelect($event)"></app-buskers-table>
    </div>
</div>
</div>
<app-buskers-table-control></app-buskers-table-control>
</div>
</div>
<app-busker-modal class = "modal" [isOpen]="showModal" (close)="showModal = false " [busker]="busker">
</app-busker-modal>
