<div class = "user">
<div class = "item-1">
  <div class = "profile-image-container">
    <img src="/assets/userprofile.jpg" class = "user-profile-img" alt="image" >
  </div>
</div>
<div class = "item item-2">
<!-- <a>{{currentUser.id}}</a> -->
 <a>PatStaffordJnr</a>
</div>
<div class = "item item-3">
  <a>{{userRoles}}</a>
  </div>
<div class = "item item-4">
  <a>Address</a>
  </div>
<div class = "item item-5">
  <a> Whats goin on in the kitchen?</a>
</div>
</div>



<!-- <div class = "user-profile">
  <div class = "item-1">

      <img src="/assets/userprofile.jpg" class = "user-profile-img" alt="image" >
  </div>
  <div class = "item-2">
    <a>2</a>
  </div>
  <div class = "item-3">
    <a>3</a>
  </div>
  <div class = "item-4">
    <a>4</a>
  </div>
  <div class = "item-5">
    <a>5</a>
  </div>
</div> -->










<!-- 

<div class="user-page-container">
<div class="user-div-container">
  <div class="user-div">
    <div class="flex-grid">
      <div class="user-profile-image-container col">
        <div class="user-profile-image"></div>
      </div>
      <div class="user-details-container col">
        <div class="user-id-container">
          <div class="user-id">
            <a class="user-id-text">
              {{currentUser.id}}
            </a>
            <br>
            <br>
            <a class="user-email-text">{{currentUser.email}}</a>
          </div>
        </div>
      </div>
      <div class="user-roles-container col">
        <div class="user-role">
          <a class="user-roles">{{userRoles}}</a>
          <br>
          <a class="user-address">address</a>
        </div>
      </div>
    </div>
    <div class="border flex-grid">
    </div>
      <div class="user-controls flex-grid">
        <div class="user-controls-a">
          <div class="user-controls-a-button">
        <div class="user-controls-text-a" (click) = "a()"></div>
        </div>
        </div>
        <br>
        <div class="user-controls-b">
          <div class="user-controls-b-button">
        <div class="user-controls-text-b" (click) = "b()"></div>
          </div>
      </div>
      </div>
      <br>
      <div class="border flex-grid">
      </div>
        <div class="user-controls flex-grid">
          <div class="user-controls-a">
            <div class="user-controls-a-button">
          <div class="user-controls-text-a" (click) = "a()">Followed Gigs</div>
          </div>
          </div>
          <br>
          <div class="user-controls-b">
            <div class="user-controls-b-button">
          <div class="user-controls-text-b" (click) = "b()">Personal Gigs</div>
            </div>
        </div>
        </div>
   -->