<div class="event-list-container">
  <div *ngIf="loading" class="loading-state">Loading events...</div>
  <div *ngIf="!loading && events.length === 0" class="empty-state">No events found near you.</div>
  <div class="event-list" *ngIf="!loading && events.length > 0">
    <div class="event-grid">
      <div class="event-item" *ngFor="let event of events; let i = index" [class.selected]="event === selectedEvent" (click)="onSelect(event)" >
        <div class="flex-grid top-section">
          <div class="event-profile-image-container col">
            <div class="event-profile-image"></div>
          </div>
          <div class="event-user-details col">
            <div class="event-user-name-container">
              <div class="event-user-name">
                <a>{{ event.userName }}</a>
              </div>
            </div>
            <div class="event-title-container">
              <div class="event-title">
                   <a>{{ event.title }}</a>
              </div>
            </div>
          </div>

        </div>

        <div class="flex-grid">
          <div class="event-title-container col">
            <div class="event-title">
              <!-- <a>{{ event.title }}</a> -->
            </div>
          </div>
        </div>

        <div class="flex-grid">
          <div class="event-address-container col">
            <div class="event-address">
              <a>{{ event.address || 'No address' }}</a>
            </div>
          </div>
        </div>

        <div class="flex-grid">
          <div class="item-start-date col">
              <span class="date">{{ event.startAt * 1000 | date: 'MMM d,' }}&nbsp;</span><br/>
              <span class="time">{{ event.startAt * 1000 | date: 'y' }}</span>
          </div>
          <div class="item-start-time col">
              <span class="time-top">{{ event.startAt * 1000 | date: 'h:mm' }}&nbsp;</span><br/>
              <span class="time-bottom">{{ event.startAt * 1000 | date: 'a' }}</span>
            </div>
          </div>
                  <div class="flex-grid">
          <div class="item-finish-date col">
              <span class="date-top">{{ event.endAt * 1000 | date: 'MMM d,' }}&nbsp;</span><br/>
              <span class="date-bottom">{{ event.endAt * 1000 | date: 'y' }}</span>
          </div>
          <div class="item-finish-time col">
              <span class="time-top">{{ event.endAt * 1000 | date: 'h:mm' }}&nbsp;</span><br/>
              <span class="time-bottom">{{ event.endAt * 1000 | date: 'a' }}</span>
            </div>
        </div>
        </div>

        <!-- <div class="flex-grid">
          <div class="event-finish-date-text-container col">
            <div class="event-finish-date-text">Finish<br />Date :</div>
          </div>
          <div class="event-finish-date-container col">
            <div class="event-finish-date">
              <span class="date-top">{{ event.endAt * 1000 | date: 'MMM d,' }}</span><br />
              <span class="date-bottom">{{ event.endAt * 1000 | date: 'y' }}</span>
            </div>
          </div>
          <div class="event-finish-time-text-container col">
            <div class="event-finish-time-text">Finish<br />Time :</div>
          </div>
          <div class="event-finish-time-container col">
            <div class="event-finish-time">
              <span class="time-top">{{ event.endAt * 1000 | date: 'h:mm' }}</span><br />
              <span class="time-bottom">{{ event.endAt * 1000 | date: 'a' }}</span>
            </div>
          </div>
        </div>     -->
    </div>
  </div>
</div>
