.flex-grid {
  display: flex;
  width: 100%;
}

.col {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.event-list-container {
    height: 100%;
  width: 100%;
  overflow-y: auto;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.event-list-container::-webkit-scrollbar {
  display: none;
}

.event-list {
  height: 100%;
  width: 100%;
}

.event-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  gap: 8px;
}

.event-item {
  /* background-color: blue; */
  box-sizing: border-box;
  border: 6px solid whitesmoke;
  border-radius: 16px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;         
}


.busker-item.selected {
}

.top-section {
  align-items: stretch;
}

.event-profile-image-container {
  min-width: calc(50% - 10px);
  height: 100px;
  border-radius: 30% 10% 30% 10%;
  overflow: hidden;
  border: 6px solid whitesmoke;

  margin-right: 10px; 
}

.event-profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.top-section {
  align-items: stretch;
}

.event-user-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  /* word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-all;
  white-space: normal; */
}

.event-user-name-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
}

.event-user-name {
  font-weight: bold;
  /* word-wrap: break-word; */
}

.event-user-role-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.event-user-role {
  color: #222;
}

.event-title-container {
  
}

.event-title {
  /* word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-all;
  white-space: normal; */
  padding: 0 10px;
}

.event-address-container {
  justify-content: left;
    /* padding-top: 10px; */
}

.event-address {
  padding-left: 10px;
    /* word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-all;
  white-space: normal; */
  padding: 0 10px;

}

.event-start-date-text-container {
  justify-content: left;
  padding-left: 10px;
}

.event-start-date {
  font-weight: bold;
}

.event-start-time-text-container {
  justify-content: left;
}

.event-start-time-container {
  justify-content: left;
}

.event-start-time {
  font-weight: bold;
}

.event-finish-date-text-container {
  justify-content: left;
  padding-left: 10px;
}

.event-finish-date {
  font-weight: bold;
}

.event-finish-time-text-container {
  justify-content: left;
}

.event-finish-time-container {
  justify-content: left;
}

.event-finish-time {
    justify-content: right;
  font-weight: bold;
}

.eventPagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.eventPagination button.selected {
  font-weight: bold;
}

.uiPopUp {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.eventUIPopUp {
  display: flex;
  flex-direction: column;
}

.table-controls-selected {
  background-color: black;
}

.event-item.selected {
  border: 2px solid #4caf50;
}

/* SM - Small tablets */
@media (min-width: 576px) {

}

/* MD - Tablets */
@media (min-width: 768px) {

}

/* SM */
@media (min-width: 576px) {
}

/* MD */
@media (min-width: 768px) {
}

/* LG */
@media (min-width: 992px) {

}

/* XL */
@media (min-width: 1300px) {
 
}

/* XXL */
@media (min-width: 1400px) {
  .event-grid {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(350px, 1fr));
    gap: 16px;
  }

  .event-list-container {

  }

  .event-list {
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    /* white-space: nowrap; */
  }

  .event-list::-webkit-scrollbar {
    display: none;
  }

  .event-item {
  }
}
