
<div class="gig-type-date-container">
<div>
</div>
<!-- <app-calender [inputDate]="from"></app-calender> -->
<div>
</div>
</div>





















































<!-- <div class="gig-type-date-container"> -->
    <!-- <div class="gig-type">Type</div> -->
    <!-- <div class="date" (click)="onPress()">Date</div> -->
    <!-- <div class="calendar-container" [ngClass]="{'hidden': !showCalendar}">
      <div class="pagination">
        <button (click)="prevMonth()">&lt;</button>
        <h2>{{ currentDate | date: 'MMMM yyyy' }}</h2>
        <button (click)="nextMonth()">&gt;</button>
      </div>
      <table class="calendar-table">
        <thead>
          <tr>
            <th *ngFor="let day of daysOfWeek">{{ day }}</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let week of weeks">
                <td *ngFor="let day of week" (click)="selectDay(day)" [ngClass]="{'selected': day === selectedDay}">
                  {{ day }}
                </td>
              </tr>
          
        </tbody>
      </table>
    </div>
    <div class="end">End</div> -->
  <!-- </div> -->
  