.hidden {
  display: none;
}

.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: azure; */
}

.calendar{
  width: 365px;
}

.home-control{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.control-row-one {
  display: flex;
  flex-wrap: wrap;
}

.home-control-address{
  display: flex;
  justify-content: left;
  text-align: left;
  /* background-color: orange; */
  width: 25%;
  

}

.address{
  /* white-space: nowrap; */
  font-weight: bolder;
  }

.home-control-global-date{
  display: flex;
  justify-content: right;
  font-weight: bolder;
  width: 25%;
}

.home-control-genre {
  /* background-color: red; */
}

.genre {
  display: flex;
  justify-content: space-around;
  width: 50%;
  max-width: 800px;
  margin-top: -6px;

}
.genre-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
}

.control-row-two {
  display: flex;
  flex-wrap: wrap;
  padding-top: 8px;

}

.home-control-search{
  background-color: yellow;
  width: 25%;
}

.search{
  white-space: nowrap;
  font-weight: bolder;
  width: 100%;
  }

  .search input[type="text"] {
    width: 100%;
    box-sizing: border-box;
    font-size: 1rem;
  }

.home-control-distance{
  /* background-color: yellowgreen; */
    display: flex;
  justify-content: right;
  width: 25%;
}

.home-control-timeLength{
  /* background-color: green; */
  display: flex;
  justify-content: right;
  width: 25%;
}

.home-control-sort{
  /* background-color: plum; */
  display: flex;
  justify-content: right;
  width: 25%;
}

  @media (min-width: 1200px) {
    .home-container {

    }
    .global-date{
      /* font-size: medium;
      font-weight: bolder;
      pointer-events: auto;
      cursor: pointer;
      white-space: nowrap; */
    }
  }
  
  @media (min-width: 800px) and (max-width: 1199px) {
    .map {

    }
    .home-container {
      width: 90vw;
    }
    .global-date{
      /* font-size: xx-large;
      font-weight: bolder;
      pointer-events: auto;
      cursor: pointer; */
    }
  }
  
  @media (max-width: 799px) {
    .map {

    }
    .home-container {

    }
    .global-date{
      /* font-size: xx-large;
      font-weight: bolder;
      pointer-events: auto;
      cursor: pointer; */
    }
  }

  .all-button {
    background-color: deepskyblue;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.all-button-selected {
    background-color: none;
    border: 3px solid deepskyblue;
    height: 24px;
    width: 24px;
    border-radius: 50%;
}

.band-button {
    background-color: hotpink;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.band-button-selected {
    background-color: none;
    border: 3px solid hotpink;
    height: 24px;
    width: 24px;
    border-radius: 50%;
}

.busker-button {
    background-color: red;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.busker-button-selected {
    background-color: none;
    border: 3px solid red;
    height: 24px;
    width: 24px;
    border-radius: 50%;
}

.dj-button {
    background-color: yellow;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.dj-button-selected {
    background-color: none;
    border: 3px solid yellow;
    height: 24px;
    width: 24px;
    border-radius: 50%;
}

.performance-button {
    background-color: green;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.performance-button-selected {
    background-color: none;
    border: 3px solid green;
    height: 24px;
    width: 24px;
    border-radius: 50%;
}
