<div class = "home-container">
<app-calendar class = "calendar" [selectedDate]="globalDate" (selectDateEvent)="onDateSelected($event)"></app-calendar>
    <app-progress-bar class = "progress-bar" [selectedTime]="globalDate" (selectTimeEvent)="onTimeSelected($event)"></app-progress-bar>
    <div class= "global-date"><h3 class = "global-date-text">{{globalDate | date:'HH:mm EEE MMM d y'}}</h3></div>
    <app-map class = "map"></app-map>
    <br>
    <app-events-table-control></app-events-table-control>
 <app-events-table></app-events-table>
</div>

