.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .map {
    width: 100%;
    /* max-width: 800px; */
    margin: 0 auto;
  }




  @media (min-width: 360px) {
    .home-container {
      background-color: darkcyan;
      width: 90%;
      margin: 0 auto;
  
    }
}


  @media (min-width: 599px) {
  .home-container {
    background-color: yellow;
    width: 90%;
    margin: 0 auto;
  }

}

  @media (min-width: 904px) {
  .home-container {
    background-color: crimson;
    width: 90%;
    margin: 0 auto;
  }

}
  @media (min-width: 1240px) {
  .home-container {
    background-color: blue;
    width: 90%;
    margin: 0 auto;
  }


}

  @media (min-width: 1339px) {
  .home-container {
    background-color: darkgray;
    width: 90%;
    margin: 0 auto;

  }

}