.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .map {
    width: 100%;
    /* max-width: 800px; */
    margin: 0 auto;
  }

  /* Responsive Layouts */
  @media (min-width: 1200px) {
    .home-container {
      width: 90%;
      margin: 0 auto;
    }
  }
  
  @media (min-width: 800px) and (max-width: 1199px) {
    .home-container {
      width: 90%;
      margin: 0 auto;
    }
  }
  
  @media (max-width: 799px) {
    .home-container {
      width: 90%;
      margin: 0 auto;
    }
  }
