#map {
    height: 640px;
    width:  100vw;
  }
  @media (min-width: 1200px) {
  }
  @media (min-width: 800px) and (max-width: 1199px) {
    #map {
      width:  80vw;
    }
  }
  @media (max-width: 799px) {
    #map {
      width:  80vw;
    }
  }
