.calender{ 
    display: flex;
    background-color:white;
    z-index: 10;
    /* position: absolute; */
    font-size: x-small;
    
    justify-content: center;
    align-items: center;


    /* border-width:2px;
    border-style:solid;
    border-color:black; */

    /* border-radius: 25px; */
    /* border: 2px solid whitesmoke; */

    /* padding: 20px;
    width: 200px;
    height: 150px; */


}

.hidden {
    display: none;
  }


.calender-div {
  background-color: white;
  /* max-width: 200px;
  min-width: 200px; */
  flex-wrap: wrap;
  /* justify-content: center; */
  justify-content: space-evenly;

  /* border-width:2px;
  border-style:solid;
  border-color:black; */

  border-radius: 25px;
  border: 6px solid whitesmoke;
  max-width: 400px;
  min-width: 400px;
}

.calender-controls {
  display: flex;
  background-color: white;
  /* max-width: 200px;
  min-width: 200px; */
  
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
 

.calender-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* Create 7 equal-width columns */
  grid-gap: 2.5px; /* Add some space between grid items */
  justify-content: center;
  align-items: center;
  border: 40px;

}

.day-container {
  background-color:white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.a{
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: center;
  align-items: center;


}

/* .calender-div a.selected {
  background-color: black;
  border: 2px solid black;
  color: black;
} */

.calender-div a.selected {
  /* Existing styles... */
  /* z-index: 29; */
  border: 2px solid black; /* Add border style and color */
  /* background-color: black; */
}