.nav-div{ 
  /* background-color: azure; */

}


*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif; 
  font-weight: bold;
  display: flex;
}

i{
  font-size: medium;
  font-weight: bold;
  pointer-events: auto;
  cursor: pointer;
}

i:hover {
  color: coral
}

.slider {
/* background-color: olive; */
position: relative;
width: 75%;
height: 90px;
overflow: hidden;

}

.slider-inner{
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  gap: 8px;
  pointer-events: none;
  transition: 0s ease-in;
}

.slider-img {
width: 100%;
text-align: end;
padding: 3rem;
padding: 20px;

}
  
i.home, i.user, i.events, i.users, i.buskers, i.sign-up, i.log-in, i.about, i.stafford, i.log-out {
  white-space: nowrap;

}

i.home{

}

i.events{

}

.users {

}

.buskers {
  
}

.sign-up{

}
.log-in{

}
.about{

}
.stafford{

}
.log-out{

}




  /* Responsive Layouts */
  @media (min-width: 1200px) {
    i{
      font-size: medium;
      font-weight: bold;
      pointer-events: auto;
      cursor: pointer;
    }

  }
  
  @media (min-width: 850px) and (max-width: 1199px) {
    i{
      font-size: xx-large;
      font-weight: bolder;
      pointer-events: auto;
      cursor: pointer;
    }
    i.home{
      padding-left: 16px;
    
    }
    .slider {
      /* background-color: olive; */
      position: relative;
      width: 100%;
      height: 90px;
      overflow: hidden;
      
      }

  }
  
  @media (max-width: 849px) {
    i{
      font-size: xx-large;
      font-weight: bolder;
      pointer-events: auto;
      cursor: pointer;
    }
    i.home{
      padding-left: 16px;
    
    }
    .slider {
      /* background-color: olive; */
      position: relative;
      width: 100%;
      height: 90px;
      overflow: hidden;
      
      }
  }
