.nav-div{
  /* margin-left: 0px; */
}

*{
  /* background-color: aquamarine; */
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif; 
  font-weight: bold;
  display: flex;
  white-space: nowrap;
}

i{
  pointer-events: auto;
  cursor: pointer;
  white-space: nowrap;
  width: 100%;
  font-style: normal; 
}

i:hover {
  color: coral
}

.slider {
position: relative;
width: 100%;
height: 70px;
overflow: hidden;
}

.slider-inner{
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  gap: 8px;
  pointer-events: none;
  transition: 0s ease-in;

}

.slider-img {
width: 100%;
padding: 1em;
align-items: center;
font-weight: bolder;
font-size: large;

}
  
i.home, i.user, i.events, i.users, i.buskers, i.sign-up, i.log-in, i.about, i.stafford, i.log-out,i.profile {
 /* background-color: darkblue; */
}

i.profile{

}

.profile {
  height: 55px;
  width: 55px;
  border-radius: 50%;
  margin-top: -11px;
  border: 3px solid silver;

}

/* Responsive Breakpoints */

/* SM - Small tablets */
@media (min-width: 576px) {
  *{
    width: 100%;
    display: flex;
  }
  .slider-inner{
    background-color: lightyellow;
    width: 103%;
    display: flex;
    justify-content: space-between;
  }

}

/* MD - Tablets */
@media (min-width: 768px) {
  *{
    width: 100%;
    display: flex;
  }
  .slider-inner{
    background-color: yellow;
    width: 103%;
    display: flex;
    justify-content: space-between;
  }

} 

/* LG - Small laptops */
@media (min-width: 992px) {
  *{
    width: 100%;
    display: flex;
  }
  .slider-inner{
    background-color: yellowgreen;
    width: 103%;
    display: flex;
    justify-content: space-between;
  }
}

/* XL - Desktops */
@media (min-width: 1200px) {
  *{
    width: 100%;
    display: flex;
  }
  .slider-inner{
    background-color: forestgreen;
    width: 103%;
    display: flex;
    justify-content: space-between;
  }
} 

/* XXL - Large screens / 4K */
@media (min-width: 1400px) {
  *{
    width: 100%;
    display: flex;
    /* margin-right: 8px; */
  }
  
  .slider-inner{
    background-color: forestgreen;
    width: 105%;
    display: flex;
    justify-content: space-between;
  }
} 




/* body {
  background-color: aquamarine;
}

.slider {
  display: flex;
  justify-content: center;
}

.slider-inner {
  max-width: 1400px;
  width: 100%;
  display: flex;
  /* justify-content: space-evenly; */
  /* align-items: center; */
/* }

.slider-img {
  flex: 1;
  text-align: center;
} */







/* SM - Small tablets */
/* @media (min-width: 576px) {
  .slider-img {
    padding: 1em;
    padding-top: 25px;
    }

} */

/* MD - Tablets */
/* @media (min-width: 768px) {
  .slider-img {
    padding: 1em;
    padding-top: 25px;
    }

} */

/* LG - Small laptops */
/* @media (min-width: 992px) {
  .slider-img {
    padding: 1em;
    padding-top: 25px;
    }

} */

/* XL - Desktops */
/* @media (min-width: 1200px) {
  .slider-img {
    padding: 1em;
    padding-top: 25px;
    }
} */



/* XXL - Large screens / 4K */
/* @media (min-width: 1400px) {
  .slider-img {
    padding: 2.7em;
    padding-top: 25px;
    }

}



/* @media (min-width: 1200px) {
    i{
      font-size: medium;
      font-weight: bold;
      pointer-events: auto;
      cursor: pointer;
    }
  }
  
  @media (min-width: 850px) and (max-width: 1199px) {
    i{
      font-size: x-large;
      font-weight: bolder;
      pointer-events: auto;
      cursor: pointer;
    }
    i.home{
      padding-left: 16px;
    
    }
    .slider {
      position: relative;
      width: 100%;
      height: 70px;
      overflow: hidden;
      }
  }
  
@media (max-width: 849px) {
    i{
      font-size: x-large;
      font-weight: bolder;
      pointer-events: auto;
      cursor: pointer;
    }
    i.home{
      padding-left: 16px;
    }
    .slider {
      position: relative;
      width: 100%;
      height: 70px;
      overflow: hidden;
      }
    }
 */

