/* .burger-menu {
    display: inline-block;
    cursor: pointer;   
  }
  
  .burger-menu div {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
    border-radius: 5px; 
  }
  
  .change .bar1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .change .bar2 {
    opacity: 0;
  }
  
  .change .bar3 {
    transform: rotate(45deg) translate(-8px, -8px);
  }
  

  .flex-grid {
    display: flex;
    background-color: none;
}
  
  .col {
    flex: 1;
    display: flex; 
}

.main-menu-container, .log-in-main-menu-container {
    font-family: Arial, Helvetica, sans-serif; 
}
.hidden{
  opacity: 0%;
}

.nav{
 margin: 0%;
 padding: 0;
   
  
}

.scroll-wrapper {


}

.burger-menu{

}

.burger-menu, .sign-up, .home, .log-in, .users {

}
  
.burger-menu, .home, .nav-user, .nav-users, .nav-edit-events, .nav-edit-events, .nav-edit-users, .nav-log-out {

} */










*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  background-color: azure;
}

i{
  color: cadetblue;
  font-size: 3em;
  pointer-events: auto;
  cursor: pointer;
}

i:hover {
  color: coral
}

.slider {
position: absolute;
left: 10%;
top: 30%;
width: 80%;
height: 200px;
overflow: hidden;


}

.slider-inner{

  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 200;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 8px;
  pointer-events: none;
  transition: 0s ease-in;
}

.slider-img {
height: 100%;
background-color: black;
text-align: center;
padding: 3rem;

}




























@media (min-width: 360px) {
  .main-menu-container, .log-in-main-menu-container{
      background-color: aquamarine;
  }

}


@media (min-width: 599px) {
  .main-menu-container, .log-in-main-menu-container{
      background-color: darkcyan  
  }


}

@media (min-width: 904px) {
  .main-menu-container, .log-in-main-menu-container{
      background-color: coral;
  }


}
@media (min-width: 1240px) {
  .main-menu-container, .log-in-main-menu-container{
      background-color: blanchedalmond;
  }



}

@media (min-width: 1339px) {
  .main-menu-container, .log-in-main-menu-container{
      background-color: yellow;
  }


}


