<div class="nav-div">
<div #sliderRef class = "slider" [ngStyle]="{'margin-left': menuVisible ? 'auto' : '47%'}" >
  <div #innerSliderRef class = "slider-inner">
    <div *ngIf = "menuVisible">
    <div  class = "slider-img">
      <i  class = "home" routerLink = "/home">Home</i>
    </div>
    <div *ngIf="isLoggedIn" class = "slider-img">
      <i class ="user" routerLink = "user">User</i>
    </div>
    <div *ngIf="busker" class = "slider-img">
      <i class ="user" routerLink = "user">Busker</i>
    </div>
    <div *ngIf="admin" class = "slider-img">
      <i class ="user" routerLink = "user">Admin</i>
    </div>
    <div class = "slider-img">
      <i class ="events" routerLink = "events">Events</i>
    </div>
    <div class = "slider-img">
      <i class ="buskers" routerLink = "buskers">Buskers</i>
      </div>
    <div  *ngIf="menuVisible"  class = "slider-img">
    <i class ="users" routerLink = "users">Users</i>
    </div>
    <div *ngIf="!isLoggedIn" class = "slider-img">
      <i class ="sign-up"  routerLink = "signup">Sign Up</i>
    </div>
    <div  *ngIf="!isLoggedIn" class = "slider-img">
      <i class ="log-in" routerLink = "login">Log In</i>
    </div>
    <div class = "slider-img">
      <i class ="about">About</i>
    </div>
    <div class = "slider-img">
      <i class ="stafford">Stafford</i>
    </div>
    <div *ngIf="isLoggedIn" class = "slider-img">
      <i (click)="logout()" class ="log-out">Log Out</i>
    </div>
    <div class = "slider-img">
      <i class = "profile"></i>
    </div>
  </div>
</div>
</div>
</div>
