.home{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:white;
    border-radius: 25px;
    border: 6px solid whitesmoke;
    max-width: 1260px;
    min-width: 365px;
    /* min-height: 250px; */
    font-size: bold;
}

.eventTableHeading {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

.calenderHeading {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

.googleMapHeading {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}
.createEventHeading {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

.eventsHeading {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}


.yo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-weight: bold;
    justify-content: center;
    align-items: center;

}