.main-header-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    align-items: center;
    z-index: 13;
    /* border-width:2px;
    border-style:solid;
    border-color:black; */


}

.header-image img{
    justify-content: center;
    align-items: center;
    max-width: 15%;
    max-height: 15%;



}


.header-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;

    
}

.header-progress-bar{ 
    z-index: 23;
}

/* .x{
    display: flex;
    justify-content: center;
    align-items: center;
    top:200px
} */