
        <div *ngFor="let event of eventResponseList.results; let i = index" [class.selected]="event === selectedEvent" (click)="onSelect(event)" class="event-item">



                <a>{{event.title}}</a>

    

                <a>{{eventsAddressIndexed[i]}}</a>

    

                {{event.startAt * 1000 | date: 'MMM d, y'}}


                {{event.startAt * 1000 | date: 'shortTime'}}
  

                {{event.endAt * 1000 | date: 'MMM d, y'}}
    
    
                {{event.endAt * 1000 | date: 'shortTime'}}
              </div>
